# TSTR WGANGP Dataset F

In [1]:
#import libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import LabelEncoder
print('Libraries imported!!')

Libraries imported!!

In [2]:
#define directory of functions and actual directory
HOME_PATH = '' #home path of the project
FUNCTIONS_DIR = "EVALUATION FUNCTIONS/UTILITY"
ACTUAL_DIR = os.getcwd()

#change directory to functions directory
os.chdir(HOME_PATH + FUNCTIONS_DIR)

#import functions for data labelling analisys
from utility_evaluation import DataPreProcessor
from utility_evaluation import train_evaluate_model

#change directory to actual directory
os.chdir(ACTUAL_DIR)
print('Functions imported!!')

Functions imported!!

## 1. Read data

In [3]:
#read real dataset
train_data = pd.read_csv(HOME_PATH + 'SYNTHETIC DATASETS/WGANGP/F_IndianLiverPatient_Synthetic_WGANGP.csv')
categorical_columns = ['gender','class']
for col in categorical_columns :
    train_data[col] = train_data[col].astype('category')
train_data

,age,gender,TB,DB,alkphos,sgpt,sgot,TP,ALB,A_G,class
0,29,Male,1.493286,0.305215,181.439041,47.528675,58.060356,7.678981,4.452882,-164.402267,1.0
1,40,Male,2.644370,0.971491,258.177002,93.005783,58.738285,7.441417,4.017587,-69.416679,2.0
2,34,Male,1.673791,0.566819,222.470963,84.489075,50.876556,7.656133,4.316024,-227.091599,2.0
3,45,Male,1.841415,0.577833,200.772736,51.584827,38.538437,7.178044,4.283068,-30.214041,2.0
4,39,Male,2.698557,1.013579,262.246979,104.780251,66.965988,7.551036,3.972701,-38.801598,2.0
...,...,...,...,...,...,...,...,...,...,...,...
461,27,Male,1.151936,0.150563,171.930328,47.628956,44.985054,7.746896,4.513616,-256.732788,1.0
462,39,Male,2.686199,1.038701,263.196320,102.436165,61.872330,7.508008,3.969202,-129.229355,2.0
463,39,Male,2.645507,1.042506,276.282898,104.695000,66.229935,7.540930,3.992946,-187.846268,2.0
464,27,Male,1.079657,0.180837,171.397888,56.983002,41.766006,7.826374,4.611629,-310.726685,1.0
465,33,Male,1.707967,0.462736,200.413055,62.888950,44.823135,7.636399,4.344552,-218.154144,1.0

In [4]:
#read test data
test_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TEST DATASETS/F_IndianLiverPatient_Real_Test.csv')
for col in categorical_columns :
    test_data[col] = test_data[col].astype('category')
test_data

     age  gender    TB   DB  alkphos   sgpt   sgot   TP  ALB        A_G class
0     19    Male   1.4  0.8    178.0   13.0   26.0  8.0  4.6       1.30   2.0
1     12    Male   1.0  0.2    719.0  157.0  108.0  7.2  3.7       1.00   1.0
2     60    Male   5.7  2.8    214.0  412.0  850.0  7.3  3.2       0.78   1.0
3     42  Female   0.5  0.1    162.0  155.0  108.0  8.1  4.0       0.90   1.0
4     40    Male  14.5  6.4    358.0   50.0   75.0  5.7  2.1       0.50   1.0
..   ...     ...   ...  ...      ...    ...    ...  ...  ...        ...   ...
112   60    Male   0.9  0.3    168.0   16.0   24.0  6.7  3.0       0.80   1.0
113   54  Female   1.4  0.7    195.0   36.0   16.0  7.9  3.7       0.90   2.0
114   47  Female   3.0  1.5    292.0   64.0   67.0  5.6  1.8       0.47   1.0
115   27    Male   1.3  0.6    106.0   25.0   54.0  8.5  4.8 -100000.00   2.0
116   21    Male   0.7  0.2    211.0   14.0   23.0  7.3  4.1       1.20   2.0

[117 rows x 11 columns]

In [5]:
target = 'class'
#quick look at the breakdown of class values
print('Train data')
print(train_data.shape)
print(train_data.groupby(target).size())
print('#####################################')
print('Test data')
print(test_data.shape)
print(test_data.groupby(target).size())

Train data
(466, 11)
class
1.0    168
2.0    298
dtype: int64
#####################################
Test data
(117, 11)
class
1.0    87
2.0    30
dtype: int64

## 2. Pre-process training data

In [6]:
target = 'class'
categorical_columns = ['gender']
numerical_columns = train_data.select_dtypes(include=['int64','float64']).columns.tolist()
categories = [np.array([0, 1])]

data_preprocessor = DataPreProcessor(categorical_columns, numerical_columns, categories)
x_train = data_preprocessor.preprocess_train_data(train_data.loc[:, train_data.columns != target])
y_train = train_data.loc[:, target]

x_train.shape, y_train.shape

((466, 11), (466,))

## 3. Preprocess test data

In [7]:
x_test = data_preprocessor.preprocess_test_data(test_data.loc[:, test_data.columns != target])
y_test = test_data.loc[:, target]
x_test.shape, y_test.shape

((117, 11), (117,))

## 4. Create a dataset to save the results

In [8]:
results = pd.DataFrame(columns = ['model','accuracy','precision','recall','f1'])
results

Empty DataFrame
Columns: [model, accuracy, precision, recall, f1]
Index: []

## 4. Train and evaluate Random Forest Classifier

In [9]:
rf_results = train_evaluate_model('RF', x_train, y_train, x_test, y_test)
results = results.append(rf_results, ignore_index=True)
rf_results

[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.1s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.3s finished
[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.0s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.0s finished

  model  accuracy  precision  recall      f1
0    RF     0.359     0.5293   0.359  0.3845

## 5. Train and Evaluate KNeighbors Classifier

In [10]:
knn_results = train_evaluate_model('KNN', x_train, y_train, x_test, y_test)
results = results.append(knn_results, ignore_index=True)
knn_results

  model  accuracy  precision  recall      f1
0   KNN    0.4359      0.641  0.4359  0.4538

## 6. Train and evaluate Decision Tree Classifier

In [11]:
dt_results = train_evaluate_model('DT', x_train, y_train, x_test, y_test)
results = results.append(dt_results, ignore_index=True)
dt_results

  model  accuracy  precision  recall      f1
0    DT    0.5983      0.537  0.5983  0.5651

## 7. Train and evaluate Support Vector Machines Classifier

In [12]:
svm_results = train_evaluate_model('SVM', x_train, y_train, x_test, y_test)
svm_results['model'] = svm_results['model'].replace(['MLP'],'SVM')
results = results.append(svm_results, ignore_index=True)
svm_results

[LibSVM]

  model  accuracy  precision  recall      f1
0   SVM    0.4274     0.5407  0.4274  0.4636

## 8. Train and evaluate Multilayer Perceptron Classifier

In [13]:
mlp_results = train_evaluate_model('MLP', x_train, y_train, x_test, y_test)
results = results.append(mlp_results, ignore_index=True)
mlp_results

Iteration 1, loss = 0.71311032
Iteration 2, loss = 0.61511215
Iteration 3, loss = 0.53821373
Iteration 4, loss = 0.47470977
Iteration 5, loss = 0.42251645
Iteration 6, loss = 0.37865233
Iteration 7, loss = 0.34055137
Iteration 8, loss = 0.30473304
Iteration 9, loss = 0.26980511
Iteration 10, loss = 0.23591477
Iteration 11, loss = 0.20292364
Iteration 12, loss = 0.17241468
Iteration 13, loss = 0.14671129
Iteration 14, loss = 0.12536574
Iteration 15, loss = 0.10846716
Iteration 16, loss = 0.09409019
Iteration 17, loss = 0.08358530
Iteration 18, loss = 0.07576992
Iteration 19, loss = 0.06973608
Iteration 20, loss = 0.06386323
Iteration 21, loss = 0.05964764
Iteration 22, loss = 0.05665357
Iteration 23, loss = 0.05325762
Iteration 24, loss = 0.05295853
Iteration 25, loss = 0.04912509
Iteration 26, loss = 0.04657268
Iteration 27, loss = 0.04554084
Iteration 28, loss = 0.04444162
Iteration 29, loss = 0.04271537
Iteration 30, loss = 0.04142676
Iteration 31, loss = 0.03886416
Iteration 32, loss = 0.03782915
Iteration 33, loss = 0.03705940
Iteration 34, loss = 0.03623140
Iteration 35, loss = 0.03489733
Iteration 36, loss = 0.03392678
Iteration 37, loss = 0.03280866
Iteration 38, loss = 0.03195278
Iteration 39, loss = 0.03123081
Iteration 40, loss = 0.03075980
Iteration 41, loss = 0.02990106
Iteration 42, loss = 0.02877330
Iteration 43, loss = 0.02765753
Iteration 44, loss = 0.02715485
Iteration 45, loss = 0.02650490
Iteration 46, loss = 0.02604101
Iteration 47, loss = 0.02607853
Iteration 48, loss = 0.02511858
Iteration 49, loss = 0.02434737
Iteration 50, loss = 0.02442498
Iteration 51, loss = 0.02441388
Iteration 52, loss = 0.02355347
Iteration 53, loss = 0.02221787
Iteration 54, loss = 0.02201377
Iteration 55, loss = 0.02192550
Iteration 56, loss = 0.02168073
Iteration 57, loss = 0.02098725
Iteration 58, loss = 0.02083098
Iteration 59, loss = 0.01984037
Iteration 60, loss = 0.02006610
Iteration 61, loss = 0.02071179
Iteration 62, loss = 0.01916526
Iteration 63, loss = 0.01851578
Iteration 64, loss = 0.01946081
Iteration 65, loss = 0.01797721
Iteration 66, loss = 0.01871564
Iteration 67, loss = 0.02000639
Iteration 68, loss = 0.01808617
Iteration 69, loss = 0.01755343
Iteration 70, loss = 0.01648571
Iteration 71, loss = 0.01731429
Iteration 72, loss = 0.01697641
Iteration 73, loss = 0.01636983
Iteration 74, loss = 0.01650155
Iteration 75, loss = 0.01602879
Iteration 76, loss = 0.01554313
Iteration 77, loss = 0.01547372
Iteration 78, loss = 0.01547031
Iteration 79, loss = 0.01546234
Iteration 80, loss = 0.01503918
Iteration 81, loss = 0.01491466
Iteration 82, loss = 0.01474286
Iteration 83, loss = 0.01460259
Iteration 84, loss = 0.01396127
Iteration 85, loss = 0.01499713
Iteration 86, loss = 0.01401791
Iteration 87, loss = 0.01413908
Iteration 88, loss = 0.01472468
Iteration 89, loss = 0.01449458
Iteration 90, loss = 0.01344227
Iteration 91, loss = 0.01348290
Iteration 92, loss = 0.01326403
Iteration 93, loss = 0.01307447
Iteration 94, loss = 0.01286072
Iteration 95, loss = 0.01285972
Iteration 96, loss = 0.01250428
Iteration 97, loss = 0.01272885
Iteration 98, loss = 0.01379382
Iteration 99, loss = 0.01220719
Iteration 100, loss = 0.01325131
Iteration 101, loss = 0.01345469
Iteration 102, loss = 0.01199560
Iteration 103, loss = 0.01312434
Iteration 104, loss = 0.01330016
Iteration 105, loss = 0.01224329
Iteration 106, loss = 0.01178413
Iteration 107, loss = 0.01143799
Iteration 108, loss = 0.01162459
Iteration 109, loss = 0.01209619
Iteration 110, loss = 0.01149660
Iteration 111, loss = 0.01121817
Iteration 112, loss = 0.01111978
Iteration 113, loss = 0.01114142
Iteration 114, loss = 0.01094597
Iteration 115, loss = 0.01066320
Iteration 116, loss = 0.01033400
Iteration 117, loss = 0.01101940
Iteration 118, loss = 0.01154340
Iteration 119, loss = 0.01048677
Iteration 120, loss = 0.01102367
Iteration 121, loss = 0.01182640
Iteration 122, loss = 0.01096757
Iteration 123, loss = 0.01094476
Iteration 124, loss = 0.01078288
Iteration 125, loss = 0.01028802
Iteration 126, loss = 0.00981934
Iteration 127, loss = 0.00967097
Iteration 128, loss = 0.00931403
Iteration 129, loss = 0.00919912
Iteration 130, loss = 0.00962854
Iteration 131, loss = 0.00982756
Iteration 132, loss = 0.00931112
Iteration 133, loss = 0.00923379
Iteration 134, loss = 0.01007268
Iteration 135, loss = 0.00930285
Iteration 136, loss = 0.00874379
Iteration 137, loss = 0.00938561
Iteration 138, loss = 0.00912183
Iteration 139, loss = 0.00876324
Iteration 140, loss = 0.00916580
Iteration 141, loss = 0.00827855
Iteration 142, loss = 0.00949993
Iteration 143, loss = 0.00865372
Iteration 144, loss = 0.00795054
Iteration 145, loss = 0.00987913
Iteration 146, loss = 0.00843747
Iteration 147, loss = 0.00822847
Iteration 148, loss = 0.00845568
Iteration 149, loss = 0.00780170
Iteration 150, loss = 0.00987773
Iteration 151, loss = 0.00789650
Iteration 152, loss = 0.00775455
Iteration 153, loss = 0.00863883
Iteration 154, loss = 0.00684114
Iteration 155, loss = 0.00927724
Iteration 156, loss = 0.00992234
Iteration 157, loss = 0.00774182
Iteration 158, loss = 0.00750258
Iteration 159, loss = 0.00726739
Iteration 160, loss = 0.00709647
Iteration 161, loss = 0.00673534
Iteration 162, loss = 0.00680496
Iteration 163, loss = 0.00679446
Iteration 164, loss = 0.00676582
Iteration 165, loss = 0.00670884
Iteration 166, loss = 0.00651829
Iteration 167, loss = 0.00648612
Iteration 168, loss = 0.00623661
Iteration 169, loss = 0.00826685
Iteration 170, loss = 0.00638259
Iteration 171, loss = 0.00824594
Iteration 172, loss = 0.00662848
Iteration 173, loss = 0.00722190
Iteration 174, loss = 0.00737636
Iteration 175, loss = 0.00628320
Iteration 176, loss = 0.00758418
Iteration 177, loss = 0.00579277
Iteration 178, loss = 0.00686328
Iteration 179, loss = 0.00759603
Iteration 180, loss = 0.00582562
Iteration 181, loss = 0.00611593
Iteration 182, loss = 0.00638566
Iteration 183, loss = 0.00595414
Iteration 184, loss = 0.00550722
Iteration 185, loss = 0.00564101
Iteration 186, loss = 0.00555408
Iteration 187, loss = 0.00545281
Iteration 188, loss = 0.00517134
Iteration 189, loss = 0.00521035
Iteration 190, loss = 0.00509422
Iteration 191, loss = 0.00501676
Iteration 192, loss = 0.00492533
Iteration 193, loss = 0.00489934
Iteration 194, loss = 0.00509937
Iteration 195, loss = 0.00550468
Iteration 196, loss = 0.00573358
Iteration 197, loss = 0.00453992
Iteration 198, loss = 0.00622583
Iteration 199, loss = 0.00639124
Iteration 200, loss = 0.00492610
Iteration 201, loss = 0.00580728
Iteration 202, loss = 0.00492180
Iteration 203, loss = 0.00472468
Iteration 204, loss = 0.00462488
Iteration 205, loss = 0.00468779
Iteration 206, loss = 0.00469068
Iteration 207, loss = 0.00436253
Iteration 208, loss = 0.00424245
Iteration 209, loss = 0.00424221
Iteration 210, loss = 0.00447232
Iteration 211, loss = 0.00449204
Iteration 212, loss = 0.00427144
Iteration 213, loss = 0.00415545
Iteration 214, loss = 0.00444898
Iteration 215, loss = 0.00388802
Iteration 216, loss = 0.00365522
Iteration 217, loss = 0.00414963
Iteration 218, loss = 0.00478497
Iteration 219, loss = 0.00427688
Iteration 220, loss = 0.00354796
Iteration 221, loss = 0.00422268
Iteration 222, loss = 0.00368692
Iteration 223, loss = 0.00389118
Iteration 224, loss = 0.00336951
Iteration 225, loss = 0.00400032
Iteration 226, loss = 0.00390820
Iteration 227, loss = 0.00508458
Iteration 228, loss = 0.00409058
Iteration 229, loss = 0.00314196
Iteration 230, loss = 0.00345707
Iteration 231, loss = 0.00391699
Iteration 232, loss = 0.00292904
Iteration 233, loss = 0.00528898
Iteration 234, loss = 0.00530282
Iteration 235, loss = 0.00314288
Iteration 236, loss = 0.00405114
Iteration 237, loss = 0.00321832
Iteration 238, loss = 0.00347682
Iteration 239, loss = 0.00375587
Iteration 240, loss = 0.00293219
Iteration 241, loss = 0.00332305
Iteration 242, loss = 0.00304306
Iteration 243, loss = 0.00309627
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

  model  accuracy  precision  recall      f1
0   MLP     0.359     0.4851   0.359  0.3987

## 9. Save results file

In [14]:
results.to_csv('RESULTS/models_results_wgangp.csv', index=False)
results

  model  accuracy  precision  recall      f1
0    RF    0.3590     0.5293  0.3590  0.3845
1   KNN    0.4359     0.6410  0.4359  0.4538
2    DT    0.5983     0.5370  0.5983  0.5651
3   SVM    0.4274     0.5407  0.4274  0.4636
4   MLP    0.3590     0.4851  0.3590  0.3987