# TRTR Dataset A - Diabetes

In [1]:
#import libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import os
print('Libraries imported!!')

Libraries imported!!

In [2]:
#define directory of functions and actual directory
HOME_PATH = '' #home directory of the project
FUNCTIONS_DIR = 'EVALUATION FUNCTIONS/UTILITY'
ACTUAL_DIR = os.getcwd()

#change directory to functions directory
os.chdir(HOME_PATH + FUNCTIONS_DIR)

#import functions for data labelling analisys
from utility_evaluation import DataPreProcessor
from utility_evaluation import train_evaluate_model

#change directory to actual directory
os.chdir(ACTUAL_DIR)
print('Functions imported!!')

Functions imported!!

## 1. Read data

In [3]:
#read real dataset
train_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TRAIN DATASETS/A_Diabetes_Data_Real_Train.csv')
categorical_columns = ['gender','age','admission_type_id','discharge_disposition_id','admission_source_id','max_glu_serum',
                      'A1Cresult','change','diabetesMed','readmitted']
for col in categorical_columns :
    train_data[col] = train_data[col].astype('category')
train_data

,encounter_id,patient_nbr,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,max_glu_serum,A1Cresult,change,diabetesMed,readmitted
0,81844290,94788,Female,[70-80),1,1,7,4,48,0,11,0,0,0,9,None,Norm,No,No,NO
1,396159158,135023315,Male,[50-60),1,1,7,1,42,0,5,0,0,0,6,None,None,No,No,>30
2,31258956,18397782,Male,[80-90),1,1,7,4,44,0,10,0,0,0,7,None,None,No,Yes,NO
3,210691074,67509558,Male,[80-90),1,3,7,3,54,0,8,0,0,0,8,None,None,Ch,Yes,NO
4,104902980,23272362,Female,[70-80),1,11,7,11,35,3,23,0,0,1,8,None,None,No,No,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81407,31296060,3344202,Male,[70-80),1,1,7,2,35,0,12,0,0,0,9,None,None,No,No,>30
81408,159139902,93611655,Male,[60-70),5,1,1,5,63,2,23,0,0,0,9,None,None,Ch,Yes,<30
81409,232191828,85600899,Male,[70-80),3,3,1,3,55,1,33,0,0,0,9,None,None,Ch,Yes,NO
81410,6740700,8208234,Female,[60-70),6,25,7,12,77,2,21,0,0,0,9,None,None,Ch,Yes,>30
81411,60115668,77943780,Female,[40-50),6,1,17,1,2,5,17,0,0,0,7,None,None,Ch,Yes,NO

In [4]:
#read test data
test_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TEST DATASETS/A_Diabetes_Data_Real_Test.csv')
for col in categorical_columns :
    test_data[col] = test_data[col].astype('category')
test_data

,encounter_id,patient_nbr,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,max_glu_serum,A1Cresult,change,diabetesMed,readmitted
0,110939484,19274094,Female,[70-80),1,1,6,11,68,0,20,0,0,0,5,None,None,No,Yes,NO
1,170328306,65634327,Male,[50-60),1,1,1,1,20,0,7,0,0,0,8,None,None,No,Yes,NO
2,245688426,100657359,Female,[60-70),3,6,1,4,21,3,23,1,0,2,7,None,None,No,Yes,NO
3,150826224,83144448,Male,[30-40),2,1,1,12,28,0,19,0,0,1,7,None,None,No,Yes,>30
4,135993852,65234214,Female,[60-70),1,2,7,1,21,0,6,0,0,0,7,None,None,No,Yes,<30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20349,61022328,93447369,Male,[80-90),1,1,7,6,51,1,17,0,0,0,8,None,None,No,Yes,<30
20350,189128682,97296336,Male,[40-50),3,1,1,2,49,1,16,0,0,2,9,None,None,Ch,Yes,<30
20351,251922018,84358062,Female,[70-80),1,1,7,9,41,2,17,3,0,0,9,None,None,No,Yes,>30
20352,214461468,98468460,Male,[70-80),2,1,7,2,22,0,5,0,0,0,7,None,None,No,Yes,>30
20353,128407860,42489621,Male,[80-90),3,1,1,7,16,4,14,0,0,0,9,None,None,No,Yes,NO

In [5]:
target = 'readmitted'
#quick look at the breakdown of class values
print('Train data')
print(train_data.shape)
print(train_data.groupby(target).size())
print('#####################################')
print('Test data')
print(test_data.shape)
print(test_data.groupby(target).size())

Train data
(81412, 20)
readmitted
<30     9072
>30    28428
NO     43912
dtype: int64
#####################################
Test data
(20354, 20)
readmitted
<30     2285
>30     7117
NO     10952
dtype: int64

## 2. Pre-process training data

In [6]:
target = 'readmitted'
categorical_columns = ['gender','age','admission_type_id','discharge_disposition_id','admission_source_id','max_glu_serum',
                    'A1Cresult','change','diabetesMed']
numerical_columns = train_data.select_dtypes(include=['int64','float64']).columns.tolist()
categories = [np.array(range(3)), np.array(range(10)), np.array(range(9)), np.array(range(29)), np.array(range(21)), 
                np.array(range(4)), np.array(range(4)), np.array(range(2)), np.array(range(2))]


data_preprocessor = DataPreProcessor(categorical_columns, numerical_columns, categories)
x_train = data_preprocessor.preprocess_train_data(train_data.loc[:, train_data.columns != target])
y_train = train_data.loc[:, target]

x_train.shape, y_train.shape

((81412, 94), (81412,))

## 3. Preprocess test data

In [7]:
x_test = data_preprocessor.preprocess_test_data(test_data.loc[:, test_data.columns != target])
y_test = test_data.loc[:, target]
x_test.shape, y_test.shape

((20354, 94), (20354,))

## 4. Create a dataset to save the results

In [8]:
results = pd.DataFrame(columns = ['model','accuracy','precision','recall','f1'])
results

Empty DataFrame
Columns: [model, accuracy, precision, recall, f1]
Index: []

## 4. Train and evaluate Random Forest Classifier

In [9]:
rf_results = train_evaluate_model('RF', x_train, y_train, x_test, y_test)
results = results.append(rf_results, ignore_index=True)
rf_results

[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    3.5s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    7.9s finished
[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.1s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.3s finished

  model  accuracy  precision  recall      f1
0    RF    0.5912     0.5562  0.5912  0.5498

## 5. Train and Evaluate KNeighbors Classifier

In [10]:
knn_results = train_evaluate_model('KNN', x_train, y_train, x_test, y_test)
results = results.append(knn_results, ignore_index=True)
knn_results

  model  accuracy  precision  recall      f1
0   KNN     0.548     0.5136   0.548  0.5211

## 6. Train and evaluate Decision Tree Classifier

In [11]:
dt_results = train_evaluate_model('DT', x_train, y_train, x_test, y_test)
results = results.append(dt_results, ignore_index=True)
dt_results

  model  accuracy  precision  recall      f1
0    DT    0.4842     0.4873  0.4842  0.4857

## 7. Train and evaluate Support Vector Machines Classifier

In [12]:
svm_results = train_evaluate_model('SVM', x_train, y_train, x_test, y_test)
results = results.append(svm_results, ignore_index=True)
svm_results

[LibSVM]

  model  accuracy  precision  recall      f1
0   SVM    0.2752     0.4189  0.2752  0.2942

## 8. Train and evaluate Multilayer Perceptron Classifier

In [13]:
mlp_results = train_evaluate_model('MLP', x_train, y_train, x_test, y_test)
results = results.append(mlp_results, ignore_index=True)
mlp_results

Iteration 1, loss = 0.88311337
Iteration 2, loss = 0.86047724
Iteration 3, loss = 0.85426935
Iteration 4, loss = 0.85041416
Iteration 5, loss = 0.84735495
Iteration 6, loss = 0.84339965
Iteration 7, loss = 0.83994467
Iteration 8, loss = 0.83637221
Iteration 9, loss = 0.83337725
Iteration 10, loss = 0.83022442
Iteration 11, loss = 0.82712998
Iteration 12, loss = 0.82289153
Iteration 13, loss = 0.82042632
Iteration 14, loss = 0.81650669
Iteration 15, loss = 0.81368741
Iteration 16, loss = 0.80930595
Iteration 17, loss = 0.80618751
Iteration 18, loss = 0.80256277
Iteration 19, loss = 0.80022393
Iteration 20, loss = 0.79631514
Iteration 21, loss = 0.79391845
Iteration 22, loss = 0.79008273
Iteration 23, loss = 0.78709208
Iteration 24, loss = 0.78403199
Iteration 25, loss = 0.78196085
Iteration 26, loss = 0.77861471
Iteration 27, loss = 0.77487095
Iteration 28, loss = 0.77168098
Iteration 29, loss = 0.76967176
Iteration 30, loss = 0.76754271
Iteration 31, loss = 0.76412795
Iteration 32, loss = 0.76191063
Iteration 33, loss = 0.75954395
Iteration 34, loss = 0.75693045
Iteration 35, loss = 0.75486354
Iteration 36, loss = 0.75205767
Iteration 37, loss = 0.75032246
Iteration 38, loss = 0.74832349
Iteration 39, loss = 0.74539105
Iteration 40, loss = 0.74413282
Iteration 41, loss = 0.74165556
Iteration 42, loss = 0.73925061
Iteration 43, loss = 0.73754919
Iteration 44, loss = 0.73522058
Iteration 45, loss = 0.73495979
Iteration 46, loss = 0.73112247
Iteration 47, loss = 0.72918188
Iteration 48, loss = 0.72702979
Iteration 49, loss = 0.72645151
Iteration 50, loss = 0.72535903
Iteration 51, loss = 0.72272976
Iteration 52, loss = 0.72105376
Iteration 53, loss = 0.71978157
Iteration 54, loss = 0.71730216
Iteration 55, loss = 0.71613954
Iteration 56, loss = 0.71351706
Iteration 57, loss = 0.71315219
Iteration 58, loss = 0.71127882
Iteration 59, loss = 0.70952043
Iteration 60, loss = 0.70899914
Iteration 61, loss = 0.70784031
Iteration 62, loss = 0.70704073
Iteration 63, loss = 0.70460433
Iteration 64, loss = 0.70299815
Iteration 65, loss = 0.70214550
Iteration 66, loss = 0.70123052
Iteration 67, loss = 0.70074397
Iteration 68, loss = 0.69815821
Iteration 69, loss = 0.69586912
Iteration 70, loss = 0.69714829
Iteration 71, loss = 0.69664882
Iteration 72, loss = 0.69451511
Iteration 73, loss = 0.69264575
Iteration 74, loss = 0.69260218
Iteration 75, loss = 0.68994879
Iteration 76, loss = 0.68868376
Iteration 77, loss = 0.68721964
Iteration 78, loss = 0.68811594
Iteration 79, loss = 0.68616792
Iteration 80, loss = 0.68739553
Iteration 81, loss = 0.68287196
Iteration 82, loss = 0.68290796
Iteration 83, loss = 0.68249600
Iteration 84, loss = 0.68082291
Iteration 85, loss = 0.67954480
Iteration 86, loss = 0.67878501
Iteration 87, loss = 0.67832751
Iteration 88, loss = 0.67782497
Iteration 89, loss = 0.67594024
Iteration 90, loss = 0.67640491
Iteration 91, loss = 0.67596720
Iteration 92, loss = 0.67361068
Iteration 93, loss = 0.67370820
Iteration 94, loss = 0.67187348
Iteration 95, loss = 0.66995263
Iteration 96, loss = 0.67020922
Iteration 97, loss = 0.67045807
Iteration 98, loss = 0.66909250
Iteration 99, loss = 0.66888588
Iteration 100, loss = 0.66666609
Iteration 101, loss = 0.66611709
Iteration 102, loss = 0.66677290
Iteration 103, loss = 0.66518824
Iteration 104, loss = 0.66408368
Iteration 105, loss = 0.66348251
Iteration 106, loss = 0.66250504
Iteration 107, loss = 0.66179280
Iteration 108, loss = 0.66266029
Iteration 109, loss = 0.66009589
Iteration 110, loss = 0.66061844
Iteration 111, loss = 0.65927630
Iteration 112, loss = 0.65924025
Iteration 113, loss = 0.65864839
Iteration 114, loss = 0.65771249
Iteration 115, loss = 0.65624383
Iteration 116, loss = 0.65564149
Iteration 117, loss = 0.65730193
Iteration 118, loss = 0.65361660
Iteration 119, loss = 0.65440849
Iteration 120, loss = 0.65425227
Iteration 121, loss = 0.65278410
Iteration 122, loss = 0.65248026
Iteration 123, loss = 0.65155499
Iteration 124, loss = 0.65207893
Iteration 125, loss = 0.65124853
Iteration 126, loss = 0.64955297
Iteration 127, loss = 0.64750591
Iteration 128, loss = 0.64808475
Iteration 129, loss = 0.64796637
Iteration 130, loss = 0.64810231
Iteration 131, loss = 0.64755715
Iteration 132, loss = 0.64754604
Iteration 133, loss = 0.64678763
Iteration 134, loss = 0.64646318
Iteration 135, loss = 0.64719479
Iteration 136, loss = 0.64329662
Iteration 137, loss = 0.64380158
Iteration 138, loss = 0.64252085
Iteration 139, loss = 0.64314791
Iteration 140, loss = 0.64437419
Iteration 141, loss = 0.64302849
Iteration 142, loss = 0.64229478
Iteration 143, loss = 0.64120929
Iteration 144, loss = 0.64027020
Iteration 145, loss = 0.64022114
Iteration 146, loss = 0.64358251
Iteration 147, loss = 0.64101309
Iteration 148, loss = 0.63915264
Iteration 149, loss = 0.63904259
Iteration 150, loss = 0.64111700
Iteration 151, loss = 0.63767463
Iteration 152, loss = 0.63745569
Iteration 153, loss = 0.63775500
Iteration 154, loss = 0.63501583
Iteration 155, loss = 0.63620015
Iteration 156, loss = 0.63516769
Iteration 157, loss = 0.63492853
Iteration 158, loss = 0.63492088
Iteration 159, loss = 0.63356100
Iteration 160, loss = 0.63360961
Iteration 161, loss = 0.63244034
Iteration 162, loss = 0.63300366
Iteration 163, loss = 0.63329028
Iteration 164, loss = 0.63209877
Iteration 165, loss = 0.62978565
Iteration 166, loss = 0.63244785
Iteration 167, loss = 0.63141847
Iteration 168, loss = 0.63031111
Iteration 169, loss = 0.63009595
Iteration 170, loss = 0.62907389
Iteration 171, loss = 0.62917467
Iteration 172, loss = 0.62798362
Iteration 173, loss = 0.62817637
Iteration 174, loss = 0.62920599
Iteration 175, loss = 0.63259362
Iteration 176, loss = 0.62871342
Iteration 177, loss = 0.62619275
Iteration 178, loss = 0.62513650
Iteration 179, loss = 0.62683341
Iteration 180, loss = 0.62700871
Iteration 181, loss = 0.62454256
Iteration 182, loss = 0.62637845
Iteration 183, loss = 0.62471744
Iteration 184, loss = 0.62458514
Iteration 185, loss = 0.62423602
Iteration 186, loss = 0.62382353
Iteration 187, loss = 0.62460298
Iteration 188, loss = 0.62269793
Iteration 189, loss = 0.62318720
Iteration 190, loss = 0.62300188
Iteration 191, loss = 0.62197693
Iteration 192, loss = 0.62115707
Iteration 193, loss = 0.61877949
Iteration 194, loss = 0.62277096
Iteration 195, loss = 0.62083723
Iteration 196, loss = 0.62095296
Iteration 197, loss = 0.61991152
Iteration 198, loss = 0.61876665
Iteration 199, loss = 0.62047427
Iteration 200, loss = 0.61943819
Iteration 201, loss = 0.61998994
Iteration 202, loss = 0.61973276
Iteration 203, loss = 0.61885261
Iteration 204, loss = 0.61566017
Iteration 205, loss = 0.61621764
Iteration 206, loss = 0.61899564
Iteration 207, loss = 0.61659177
Iteration 208, loss = 0.61665915
Iteration 209, loss = 0.61477941
Iteration 210, loss = 0.61656001
Iteration 211, loss = 0.61792770
Iteration 212, loss = 0.61520544
Iteration 213, loss = 0.61466054
Iteration 214, loss = 0.61356998
Iteration 215, loss = 0.61472618
Iteration 216, loss = 0.61641936
Iteration 217, loss = 0.61490595
Iteration 218, loss = 0.61432112
Iteration 219, loss = 0.61161645
Iteration 220, loss = 0.61360604
Iteration 221, loss = 0.61261221
Iteration 222, loss = 0.61261703
Iteration 223, loss = 0.61144946
Iteration 224, loss = 0.61345348
Iteration 225, loss = 0.61254448
Iteration 226, loss = 0.60976757
Iteration 227, loss = 0.61079229
Iteration 228, loss = 0.60933478
Iteration 229, loss = 0.61594919
Iteration 230, loss = 0.60881076
Iteration 231, loss = 0.61102910
Iteration 232, loss = 0.60808004
Iteration 233, loss = 0.61006744
Iteration 234, loss = 0.61184721
Iteration 235, loss = 0.60925288
Iteration 236, loss = 0.60705990
Iteration 237, loss = 0.60790654
Iteration 238, loss = 0.60824464
Iteration 239, loss = 0.60670303
Iteration 240, loss = 0.60702275
Iteration 241, loss = 0.60739378
Iteration 242, loss = 0.60758028
Iteration 243, loss = 0.60652998
Iteration 244, loss = 0.60813304
Iteration 245, loss = 0.60539299
Iteration 246, loss = 0.60632270
Iteration 247, loss = 0.60362622
Iteration 248, loss = 0.60608091
Iteration 249, loss = 0.60491843
Iteration 250, loss = 0.60504524
Iteration 251, loss = 0.60560730
Iteration 252, loss = 0.60505414
Iteration 253, loss = 0.60474781
Iteration 254, loss = 0.60342141
Iteration 255, loss = 0.60508484
Iteration 256, loss = 0.60545939
Iteration 257, loss = 0.60388044
Iteration 258, loss = 0.60224786
Iteration 259, loss = 0.60256769
Iteration 260, loss = 0.60222927
Iteration 261, loss = 0.60240631
Iteration 262, loss = 0.60314721
Iteration 263, loss = 0.60202541
Iteration 264, loss = 0.60127324
Iteration 265, loss = 0.60043244
Iteration 266, loss = 0.60049629
Iteration 267, loss = 0.60484179
Iteration 268, loss = 0.60009518
Iteration 269, loss = 0.60175923
Iteration 270, loss = 0.59895445
Iteration 271, loss = 0.59810480
Iteration 272, loss = 0.59887336
Iteration 273, loss = 0.60223678
Iteration 274, loss = 0.60024543
Iteration 275, loss = 0.59975017
Iteration 276, loss = 0.59976173
Iteration 277, loss = 0.59890908
Iteration 278, loss = 0.59778953
Iteration 279, loss = 0.59822920
Iteration 280, loss = 0.59653968
Iteration 281, loss = 0.59835272
Iteration 282, loss = 0.59838738
Iteration 283, loss = 0.59765808
Iteration 284, loss = 0.59919250
Iteration 285, loss = 0.59736527
Iteration 286, loss = 0.59770293
Iteration 287, loss = 0.59633005
Iteration 288, loss = 0.59718606
Iteration 289, loss = 0.59635851
Iteration 290, loss = 0.59620084
Iteration 291, loss = 0.59827341
Iteration 292, loss = 0.59532634
Iteration 293, loss = 0.59610813
Iteration 294, loss = 0.59739935
Iteration 295, loss = 0.59438610
Iteration 296, loss = 0.59683791
Iteration 297, loss = 0.59753662
Iteration 298, loss = 0.59309535
Iteration 299, loss = 0.59537513
Iteration 300, loss = 0.59516127

  model  accuracy  precision  recall      f1
0   MLP    0.5283     0.5033  0.5283  0.5133

## 9. Save results file

In [14]:
results.to_csv('RESULTS/models_results_real.csv', index=False)
results

  model  accuracy  precision  recall      f1
0    RF    0.5912     0.5562  0.5912  0.5498
1   KNN    0.5480     0.5136  0.5480  0.5211
2    DT    0.4842     0.4873  0.4842  0.4857
3   SVM    0.2752     0.4189  0.2752  0.2942
4   MLP    0.5283     0.5033  0.5283  0.5133