# TSTR GM Dataset A - Diabetes

In [1]:
#import libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import os
print('Libraries imported!!')

Libraries imported!!

In [2]:
#define directory of functions and actual directory
HOME_PATH = '' #home directory of the project
FUNCTIONS_DIR = 'EVALUATION FUNCTIONS/UTILITY'
ACTUAL_DIR = os.getcwd()

#change directory to functions directory
os.chdir(HOME_PATH + FUNCTIONS_DIR)

#import functions for data labelling analisys
from utility_evaluation import DataPreProcessor
from utility_evaluation import train_evaluate_model

#change directory to actual directory
os.chdir(ACTUAL_DIR)
print('Functions imported!!')

Functions imported!!

## 1. Read data

In [3]:
#read real dataset
train_data = pd.read_csv(HOME_PATH + 'SYNTHETIC DATASETS/GM/A_Diabetes_Data_Synthetic_GM.csv')
categorical_columns = ['gender','age','admission_type_id','discharge_disposition_id','admission_source_id','max_glu_serum',
                      'A1Cresult','change','diabetesMed','readmitted']
for col in categorical_columns :
    train_data[col] = train_data[col].astype('category')
train_data

,encounter_id,patient_nbr,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,max_glu_serum,A1Cresult,change,diabetesMed,readmitted
0,55263844,73425914,Male,[70-80),2,1,1,4,46,1,11,0,0,0,7,None,None,No,Yes,>30
1,70034002,36749733,Female,[80-90),2,13,1,5,44,2,21,2,0,1,8,None,None,No,Yes,<30
2,428180152,136154611,Male,[70-80),3,1,1,3,60,0,18,0,0,0,6,None,None,No,No,<30
3,36215451,5314375,Female,[70-80),6,25,7,2,48,0,17,0,0,2,8,None,None,Ch,Yes,NO
4,132810221,70592062,Female,[70-80),5,3,6,2,12,0,15,0,0,0,5,None,None,No,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81407,52044663,14996419,Female,[90-100),1,1,7,7,70,0,27,0,0,0,8,None,None,Ch,Yes,NO
81408,156727385,105999805,Female,[50-60),1,6,17,2,55,0,14,0,0,0,9,None,None,No,No,NO
81409,81094768,31322560,Female,[40-50),3,3,17,0,23,0,10,2,1,0,4,None,None,No,Yes,>30
81410,10611239,25019256,Male,[40-50),2,1,7,13,43,1,13,0,0,0,6,None,None,No,Yes,<30
81411,160663646,26115229,Male,[50-60),2,6,7,3,70,0,11,1,0,0,7,None,None,No,Yes,NO

In [5]:
#read test data
test_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TEST DATASETS/A_Diabetes_Data_Real_Test.csv')
for col in categorical_columns :
    test_data[col] = test_data[col].astype('category')
test_data

,encounter_id,patient_nbr,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,max_glu_serum,A1Cresult,change,diabetesMed,readmitted
0,110939484,19274094,Female,[70-80),1,1,6,11,68,0,20,0,0,0,5,None,None,No,Yes,NO
1,170328306,65634327,Male,[50-60),1,1,1,1,20,0,7,0,0,0,8,None,None,No,Yes,NO
2,245688426,100657359,Female,[60-70),3,6,1,4,21,3,23,1,0,2,7,None,None,No,Yes,NO
3,150826224,83144448,Male,[30-40),2,1,1,12,28,0,19,0,0,1,7,None,None,No,Yes,>30
4,135993852,65234214,Female,[60-70),1,2,7,1,21,0,6,0,0,0,7,None,None,No,Yes,<30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20349,61022328,93447369,Male,[80-90),1,1,7,6,51,1,17,0,0,0,8,None,None,No,Yes,<30
20350,189128682,97296336,Male,[40-50),3,1,1,2,49,1,16,0,0,2,9,None,None,Ch,Yes,<30
20351,251922018,84358062,Female,[70-80),1,1,7,9,41,2,17,3,0,0,9,None,None,No,Yes,>30
20352,214461468,98468460,Male,[70-80),2,1,7,2,22,0,5,0,0,0,7,None,None,No,Yes,>30
20353,128407860,42489621,Male,[80-90),3,1,1,7,16,4,14,0,0,0,9,None,None,No,Yes,NO

In [6]:
target = 'readmitted'
#quick look at the breakdown of class values
print('Train data')
print(train_data.shape)
print(train_data.groupby(target).size())
print('#####################################')
print('Test data')
print(test_data.shape)
print(test_data.groupby(target).size())

Train data
(81412, 20)
readmitted
<30     9183
>30    29458
NO     42771
dtype: int64
#####################################
Test data
(20354, 20)
readmitted
<30     2285
>30     7117
NO     10952
dtype: int64

## 2. Pre-process training data

In [7]:
target = 'readmitted'
categorical_columns = ['gender','age','admission_type_id','discharge_disposition_id','admission_source_id','max_glu_serum',
                    'A1Cresult','change','diabetesMed']
numerical_columns = train_data.select_dtypes(include=['int64','float64']).columns.tolist()
categories = [np.array(range(3)), np.array(range(10)), np.array(range(9)), np.array(range(29)), np.array(range(21)), 
                np.array(range(4)), np.array(range(4)), np.array(range(2)), np.array(range(2))]


data_preprocessor = DataPreProcessor(categorical_columns, numerical_columns, categories)
x_train = data_preprocessor.preprocess_train_data(train_data.loc[:, train_data.columns != target])
y_train = train_data.loc[:, target]

x_train.shape, y_train.shape

((81412, 94), (81412,))

## 3. Preprocess test data

In [8]:
x_test = data_preprocessor.preprocess_test_data(test_data.loc[:, test_data.columns != target])
y_test = test_data.loc[:, target]
x_test.shape, y_test.shape

((20354, 94), (20354,))

## 4. Create a dataset to save the results

In [9]:
results = pd.DataFrame(columns = ['model','accuracy','precision','recall','f1'])
results

Empty DataFrame
Columns: [model, accuracy, precision, recall, f1]
Index: []

## 4. Train and evaluate Random Forest Classifier

In [10]:
rf_results = train_evaluate_model('RF', x_train, y_train, x_test, y_test)
results = results.append(rf_results, ignore_index=True)
rf_results

[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    3.8s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    8.4s finished
[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.2s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.4s finished

  model  accuracy  precision  recall      f1
0    RF    0.5562     0.4932  0.5562  0.5097

## 5. Train and Evaluate KNeighbors Classifier

In [11]:
knn_results = train_evaluate_model('KNN', x_train, y_train, x_test, y_test)
results = results.append(knn_results, ignore_index=True)
knn_results

  model  accuracy  precision  recall      f1
0   KNN    0.4995     0.4606  0.4995  0.4744

## 6. Train and evaluate Decision Tree Classifier

In [12]:
dt_results = train_evaluate_model('DT', x_train, y_train, x_test, y_test)
results = results.append(dt_results, ignore_index=True)
dt_results

  model  accuracy  precision  recall      f1
0    DT    0.4296     0.4424  0.4296  0.4351

## 7. Train and evaluate Support Vector Machines Classifier

In [13]:
svm_results = train_evaluate_model('SVM', x_train, y_train, x_test, y_test)
results = results.append(svm_results, ignore_index=True)
svm_results

[LibSVM]

  model  accuracy  precision  recall      f1
0   SVM    0.2608     0.4459  0.2608  0.2883

## 8. Train and evaluate Multilayer Perceptron Classifier

In [14]:
mlp_results = train_evaluate_model('MLP', x_train, y_train, x_test, y_test)
results = results.append(mlp_results, ignore_index=True)
mlp_results

Iteration 1, loss = 0.94057579
Iteration 2, loss = 0.93284634
Iteration 3, loss = 0.93137452
Iteration 4, loss = 0.92961596
Iteration 5, loss = 0.92743647
Iteration 6, loss = 0.92556973
Iteration 7, loss = 0.92340373
Iteration 8, loss = 0.92044318
Iteration 9, loss = 0.91794586
Iteration 10, loss = 0.91447144
Iteration 11, loss = 0.91083015
Iteration 12, loss = 0.90655639
Iteration 13, loss = 0.90284928
Iteration 14, loss = 0.89903177
Iteration 15, loss = 0.89378237
Iteration 16, loss = 0.88981780
Iteration 17, loss = 0.88472541
Iteration 18, loss = 0.88075516
Iteration 19, loss = 0.87597363
Iteration 20, loss = 0.87204065
Iteration 21, loss = 0.86738098
Iteration 22, loss = 0.86345999
Iteration 23, loss = 0.85979932
Iteration 24, loss = 0.85589837
Iteration 25, loss = 0.85140336
Iteration 26, loss = 0.84815942
Iteration 27, loss = 0.84447657
Iteration 28, loss = 0.84125881
Iteration 29, loss = 0.83775880
Iteration 30, loss = 0.83463125
Iteration 31, loss = 0.83163838
Iteration 32, loss = 0.82805248
Iteration 33, loss = 0.82496397
Iteration 34, loss = 0.82200524
Iteration 35, loss = 0.81930629
Iteration 36, loss = 0.81645139
Iteration 37, loss = 0.81330413
Iteration 38, loss = 0.81003563
Iteration 39, loss = 0.80909545
Iteration 40, loss = 0.80702914
Iteration 41, loss = 0.80335059
Iteration 42, loss = 0.80258617
Iteration 43, loss = 0.80071232
Iteration 44, loss = 0.79767050
Iteration 45, loss = 0.79440313
Iteration 46, loss = 0.79412740
Iteration 47, loss = 0.79142493
Iteration 48, loss = 0.78935386
Iteration 49, loss = 0.78750184
Iteration 50, loss = 0.78455889
Iteration 51, loss = 0.78408393
Iteration 52, loss = 0.78209023
Iteration 53, loss = 0.78000081
Iteration 54, loss = 0.77827310
Iteration 55, loss = 0.77626709
Iteration 56, loss = 0.77416157
Iteration 57, loss = 0.77284855
Iteration 58, loss = 0.77072470
Iteration 59, loss = 0.76952470
Iteration 60, loss = 0.76775523
Iteration 61, loss = 0.76742832
Iteration 62, loss = 0.76529643
Iteration 63, loss = 0.76318334
Iteration 64, loss = 0.76065168
Iteration 65, loss = 0.75987625
Iteration 66, loss = 0.75887381
Iteration 67, loss = 0.75710901
Iteration 68, loss = 0.75807352
Iteration 69, loss = 0.75523067
Iteration 70, loss = 0.75423428
Iteration 71, loss = 0.75261007
Iteration 72, loss = 0.75102433
Iteration 73, loss = 0.75054013
Iteration 74, loss = 0.74884746
Iteration 75, loss = 0.74828325
Iteration 76, loss = 0.74672183
Iteration 77, loss = 0.74683096
Iteration 78, loss = 0.74463586
Iteration 79, loss = 0.74377872
Iteration 80, loss = 0.74176099
Iteration 81, loss = 0.74082313
Iteration 82, loss = 0.74125534
Iteration 83, loss = 0.74018751
Iteration 84, loss = 0.73922411
Iteration 85, loss = 0.73638373
Iteration 86, loss = 0.73655555
Iteration 87, loss = 0.73589009
Iteration 88, loss = 0.73397516
Iteration 89, loss = 0.73420466
Iteration 90, loss = 0.73262435
Iteration 91, loss = 0.73211876
Iteration 92, loss = 0.72979289
Iteration 93, loss = 0.73139055
Iteration 94, loss = 0.73151511
Iteration 95, loss = 0.72871498
Iteration 96, loss = 0.72742567
Iteration 97, loss = 0.72630167
Iteration 98, loss = 0.72512922
Iteration 99, loss = 0.72548479
Iteration 100, loss = 0.72529599
Iteration 101, loss = 0.72278935
Iteration 102, loss = 0.72235297
Iteration 103, loss = 0.72036928
Iteration 104, loss = 0.72250143
Iteration 105, loss = 0.72044782
Iteration 106, loss = 0.72100174
Iteration 107, loss = 0.71856567
Iteration 108, loss = 0.71886621
Iteration 109, loss = 0.71908519
Iteration 110, loss = 0.71715158
Iteration 111, loss = 0.71455975
Iteration 112, loss = 0.71880156
Iteration 113, loss = 0.71476255
Iteration 114, loss = 0.71310188
Iteration 115, loss = 0.71226600
Iteration 116, loss = 0.71264025
Iteration 117, loss = 0.71148337
Iteration 118, loss = 0.71276830
Iteration 119, loss = 0.71044958
Iteration 120, loss = 0.71021009
Iteration 121, loss = 0.71037655
Iteration 122, loss = 0.70937709
Iteration 123, loss = 0.70743462
Iteration 124, loss = 0.70969960
Iteration 125, loss = 0.70624381
Iteration 126, loss = 0.70763848
Iteration 127, loss = 0.70967590
Iteration 128, loss = 0.70508032
Iteration 129, loss = 0.70409147
Iteration 130, loss = 0.70449604
Iteration 131, loss = 0.70377621
Iteration 132, loss = 0.70679669
Iteration 133, loss = 0.70116119
Iteration 134, loss = 0.70308412
Iteration 135, loss = 0.69985418
Iteration 136, loss = 0.70184210
Iteration 137, loss = 0.70041928
Iteration 138, loss = 0.69991026
Iteration 139, loss = 0.69855193
Iteration 140, loss = 0.69948419
Iteration 141, loss = 0.69810878
Iteration 142, loss = 0.70069737
Iteration 143, loss = 0.69657966
Iteration 144, loss = 0.69742113
Iteration 145, loss = 0.69716193
Iteration 146, loss = 0.69650823
Iteration 147, loss = 0.69683574
Iteration 148, loss = 0.69766525
Iteration 149, loss = 0.69446125
Iteration 150, loss = 0.69456228
Iteration 151, loss = 0.69659974
Iteration 152, loss = 0.69330889
Iteration 153, loss = 0.69239143
Iteration 154, loss = 0.69333715
Iteration 155, loss = 0.69251196
Iteration 156, loss = 0.69210370
Iteration 157, loss = 0.69203809
Iteration 158, loss = 0.69186873
Iteration 159, loss = 0.68942721
Iteration 160, loss = 0.68966304
Iteration 161, loss = 0.69040818
Iteration 162, loss = 0.68900668
Iteration 163, loss = 0.69025403
Iteration 164, loss = 0.68831918
Iteration 165, loss = 0.69126956
Iteration 166, loss = 0.68790050
Iteration 167, loss = 0.68842459
Iteration 168, loss = 0.68739586
Iteration 169, loss = 0.68613081
Iteration 170, loss = 0.68444974
Iteration 171, loss = 0.68922755
Iteration 172, loss = 0.68715848
Iteration 173, loss = 0.68467833
Iteration 174, loss = 0.68514066
Iteration 175, loss = 0.68484336
Iteration 176, loss = 0.68468281
Iteration 177, loss = 0.68310946
Iteration 178, loss = 0.68364034
Iteration 179, loss = 0.68448898
Iteration 180, loss = 0.68254767
Iteration 181, loss = 0.68328444
Iteration 182, loss = 0.68213910
Iteration 183, loss = 0.68275517
Iteration 184, loss = 0.68193765
Iteration 185, loss = 0.68105664
Iteration 186, loss = 0.68090801
Iteration 187, loss = 0.68098237
Iteration 188, loss = 0.68015310
Iteration 189, loss = 0.68163410
Iteration 190, loss = 0.68089863
Iteration 191, loss = 0.67932914
Iteration 192, loss = 0.68060455
Iteration 193, loss = 0.67732043
Iteration 194, loss = 0.67862281
Iteration 195, loss = 0.67780693
Iteration 196, loss = 0.67706026
Iteration 197, loss = 0.67933839
Iteration 198, loss = 0.67688294
Iteration 199, loss = 0.67678885
Iteration 200, loss = 0.67586020
Iteration 201, loss = 0.67578882
Iteration 202, loss = 0.67647398
Iteration 203, loss = 0.67576701
Iteration 204, loss = 0.67321262
Iteration 205, loss = 0.67659711
Iteration 206, loss = 0.67547315
Iteration 207, loss = 0.67540795
Iteration 208, loss = 0.67327031
Iteration 209, loss = 0.67332058
Iteration 210, loss = 0.67364906
Iteration 211, loss = 0.67442740
Iteration 212, loss = 0.67330584
Iteration 213, loss = 0.67256363
Iteration 214, loss = 0.67313714
Iteration 215, loss = 0.67101072
Iteration 216, loss = 0.67107387
Iteration 217, loss = 0.67362992
Iteration 218, loss = 0.66984268
Iteration 219, loss = 0.67234017
Iteration 220, loss = 0.67020652
Iteration 221, loss = 0.67069863
Iteration 222, loss = 0.66859929
Iteration 223, loss = 0.67010030
Iteration 224, loss = 0.66952852
Iteration 225, loss = 0.66844879
Iteration 226, loss = 0.66942391
Iteration 227, loss = 0.66866796
Iteration 228, loss = 0.66874297
Iteration 229, loss = 0.67057770
Iteration 230, loss = 0.66863511
Iteration 231, loss = 0.66758744
Iteration 232, loss = 0.66736979
Iteration 233, loss = 0.66748784
Iteration 234, loss = 0.66932155
Iteration 235, loss = 0.66622135
Iteration 236, loss = 0.66567467
Iteration 237, loss = 0.66541502
Iteration 238, loss = 0.66766408
Iteration 239, loss = 0.66603797
Iteration 240, loss = 0.66560082
Iteration 241, loss = 0.66469637
Iteration 242, loss = 0.66556752
Iteration 243, loss = 0.66745770
Iteration 244, loss = 0.66356380
Iteration 245, loss = 0.66279553
Iteration 246, loss = 0.66316566
Iteration 247, loss = 0.66518214
Iteration 248, loss = 0.66396690
Iteration 249, loss = 0.66371744
Iteration 250, loss = 0.66433261
Iteration 251, loss = 0.66492009
Iteration 252, loss = 0.66221288
Iteration 253, loss = 0.66156314
Iteration 254, loss = 0.66225907
Iteration 255, loss = 0.66175559
Iteration 256, loss = 0.66252390
Iteration 257, loss = 0.66092488
Iteration 258, loss = 0.66184165
Iteration 259, loss = 0.66159792
Iteration 260, loss = 0.66071741
Iteration 261, loss = 0.66024358
Iteration 262, loss = 0.66033148
Iteration 263, loss = 0.66089369
Iteration 264, loss = 0.66072295
Iteration 265, loss = 0.66174798
Iteration 266, loss = 0.66001268
Iteration 267, loss = 0.65874319
Iteration 268, loss = 0.66021007
Iteration 269, loss = 0.65938217
Iteration 270, loss = 0.66027532
Iteration 271, loss = 0.65879867
Iteration 272, loss = 0.65801607
Iteration 273, loss = 0.65744652
Iteration 274, loss = 0.65763791
Iteration 275, loss = 0.66017667
Iteration 276, loss = 0.65863170
Iteration 277, loss = 0.65807702
Iteration 278, loss = 0.65435165
Iteration 279, loss = 0.65750714
Iteration 280, loss = 0.65868271
Iteration 281, loss = 0.65560982
Iteration 282, loss = 0.65527617
Iteration 283, loss = 0.65607191
Iteration 284, loss = 0.65654297
Iteration 285, loss = 0.65679808
Iteration 286, loss = 0.65767824
Iteration 287, loss = 0.65838252
Iteration 288, loss = 0.65540158
Iteration 289, loss = 0.65465212
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

  model  accuracy  precision  recall     f1
0   MLP    0.4918     0.4654  0.4918  0.476

## 9. Save results file

In [15]:
results.to_csv('RESULTS/models_results_gm.csv', index=False)
results

  model  accuracy  precision  recall      f1
0    RF    0.5562     0.4932  0.5562  0.5097
1   KNN    0.4995     0.4606  0.4995  0.4744
2    DT    0.4296     0.4424  0.4296  0.4351
3   SVM    0.2608     0.4459  0.2608  0.2883
4   MLP    0.4918     0.4654  0.4918  0.4760