# TSTR SDV Dataset A - Diabetes

In [1]:
#import libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import os
print('Libraries imported!!')

Libraries imported!!

In [2]:
#define directory of functions and actual directory
HOME_PATH = '' #home directory of the project
FUNCTIONS_DIR = 'EVALUATION FUNCTIONS/UTILITY'
ACTUAL_DIR = os.getcwd()

#change directory to functions directory
os.chdir(HOME_PATH + FUNCTIONS_DIR)


#import functions for data labelling analisys
from utility_evaluation import DataPreProcessor
from utility_evaluation import train_evaluate_model

#change directory to actual directory
os.chdir(ACTUAL_DIR)
print('Functions imported!!')

Functions imported!!

## 1. Read data

In [3]:
#read real dataset
train_data = pd.read_csv(HOME_PATH + 'SYNTHETIC DATASETS/SDV/A_Diabetes_Data_Synthetic_SDV.csv')
categorical_columns = ['gender','age','admission_type_id','discharge_disposition_id','admission_source_id','max_glu_serum',
                      'A1Cresult','change','diabetesMed','readmitted']
for col in categorical_columns :
    train_data[col] = train_data[col].astype('category')
train_data

,encounter_id,patient_nbr,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,max_glu_serum,A1Cresult,change,diabetesMed,readmitted
0,-28804602,41361052,Male,[50-60),3,1,6,5,14,2,26,1,-1,1,6,None,None,No,No,NO
1,44295622,42357617,Female,[50-60),1,25,7,6,77,2,15,1,0,1,8,None,None,No,Yes,>30
2,120436308,80879232,Female,[70-80),3,1,2,9,49,2,18,0,1,1,9,None,None,No,Yes,NO
3,240827370,61122839,Male,[60-70),1,3,7,5,65,2,33,1,-1,1,9,None,None,Ch,Yes,NO
4,291306426,102313008,Female,[40-50),1,1,1,7,69,2,21,-1,0,2,7,None,None,No,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81407,188165461,111175154,Male,[80-90),3,1,4,5,34,2,13,0,1,0,8,None,None,No,Yes,NO
81408,39568334,17946770,Male,[80-90),8,1,7,8,65,3,15,0,0,2,9,None,None,No,Yes,>30
81409,211986492,54424724,Male,[40-50),1,6,7,2,42,1,18,-2,2,2,10,None,None,No,Yes,NO
81410,238225577,70292306,Male,[80-90),1,1,7,4,30,-1,19,1,-1,2,7,None,None,No,No,NO
81411,278154698,95047945,Male,[60-70),1,1,7,3,48,0,19,1,1,1,6,None,None,No,Yes,>30

In [4]:
#read test data
test_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TEST DATASETS/A_Diabetes_Data_Real_Test.csv')
for col in categorical_columns :
    test_data[col] = test_data[col].astype('category')
test_data

,encounter_id,patient_nbr,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,max_glu_serum,A1Cresult,change,diabetesMed,readmitted
0,110939484,19274094,Female,[70-80),1,1,6,11,68,0,20,0,0,0,5,None,None,No,Yes,NO
1,170328306,65634327,Male,[50-60),1,1,1,1,20,0,7,0,0,0,8,None,None,No,Yes,NO
2,245688426,100657359,Female,[60-70),3,6,1,4,21,3,23,1,0,2,7,None,None,No,Yes,NO
3,150826224,83144448,Male,[30-40),2,1,1,12,28,0,19,0,0,1,7,None,None,No,Yes,>30
4,135993852,65234214,Female,[60-70),1,2,7,1,21,0,6,0,0,0,7,None,None,No,Yes,<30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20349,61022328,93447369,Male,[80-90),1,1,7,6,51,1,17,0,0,0,8,None,None,No,Yes,<30
20350,189128682,97296336,Male,[40-50),3,1,1,2,49,1,16,0,0,2,9,None,None,Ch,Yes,<30
20351,251922018,84358062,Female,[70-80),1,1,7,9,41,2,17,3,0,0,9,None,None,No,Yes,>30
20352,214461468,98468460,Male,[70-80),2,1,7,2,22,0,5,0,0,0,7,None,None,No,Yes,>30
20353,128407860,42489621,Male,[80-90),3,1,1,7,16,4,14,0,0,0,9,None,None,No,Yes,NO

In [5]:
target = 'readmitted'
#quick look at the breakdown of class values
print('Train data')
print(train_data.shape)
print(train_data.groupby(target).size())
print('#####################################')
print('Test data')
print(test_data.shape)
print(test_data.groupby(target).size())

Train data
(81412, 20)
readmitted
<30     4990
>30    28648
NO     47774
dtype: int64
#####################################
Test data
(20354, 20)
readmitted
<30     2285
>30     7117
NO     10952
dtype: int64

## 2. Pre-process training data

In [6]:
target = 'readmitted'
categorical_columns = ['gender','age','admission_type_id','discharge_disposition_id','admission_source_id','max_glu_serum',
                    'A1Cresult','change','diabetesMed']
numerical_columns = train_data.select_dtypes(include=['int64','float64']).columns.tolist()
categories = [np.array(range(3)), np.array(range(10)), np.array(range(9)), np.array(range(29)), np.array(range(21)), 
                np.array(range(4)), np.array(range(4)), np.array(range(2)), np.array(range(2))]


data_preprocessor = DataPreProcessor(categorical_columns, numerical_columns, categories)
x_train = data_preprocessor.preprocess_train_data(train_data.loc[:, train_data.columns != target])
y_train = train_data.loc[:, target]

x_train.shape, y_train.shape

((81412, 94), (81412,))

## 3. Preprocess test data

In [7]:
x_test = data_preprocessor.preprocess_test_data(test_data.loc[:, test_data.columns != target])
y_test = test_data.loc[:, target]
x_test.shape, y_test.shape

((20354, 94), (20354,))

## 4. Create a dataset to save the results

In [8]:
results = pd.DataFrame(columns = ['model','accuracy','precision','recall','f1'])
results

Empty DataFrame
Columns: [model, accuracy, precision, recall, f1]
Index: []

## 4. Train and evaluate Random Forest Classifier

In [9]:
rf_results = train_evaluate_model('RF', x_train, y_train, x_test, y_test)
results = results.append(rf_results, ignore_index=True)
rf_results

[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    3.8s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    8.4s finished
[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.1s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.3s finished

  model  accuracy  precision  recall      f1
0    RF     0.546     0.4615   0.546  0.4239

## 5. Train and Evaluate KNeighbors Classifier

In [10]:
knn_results = train_evaluate_model('KNN', x_train, y_train, x_test, y_test)
results = results.append(knn_results, ignore_index=True)
knn_results

  model  accuracy  precision  recall      f1
0   KNN    0.5131     0.4537  0.5131  0.4626

## 6. Train and evaluate Decision Tree Classifier

In [11]:
dt_results = train_evaluate_model('DT', x_train, y_train, x_test, y_test)
results = results.append(dt_results, ignore_index=True)
dt_results

  model  accuracy  precision  recall      f1
0    DT    0.4556     0.4351  0.4556  0.4441

## 7. Train and evaluate Support Vector Machines Classifier

In [12]:
svm_results = train_evaluate_model('SVM', x_train, y_train, x_test, y_test)
results = results.append(svm_results, ignore_index=True)
svm_results

[LibSVM]

  model  accuracy  precision  recall      f1
0   SVM    0.3049     0.4405  0.3049  0.3256

## 8. Train and evaluate Multilayer Perceptron Classifier

In [13]:
mlp_results = train_evaluate_model('MLP', x_train, y_train, x_test, y_test)
results = results.append(mlp_results, ignore_index=True)
mlp_results

Iteration 1, loss = 0.85174981
Iteration 2, loss = 0.84171833
Iteration 3, loss = 0.84027606
Iteration 4, loss = 0.83937260
Iteration 5, loss = 0.83795689
Iteration 6, loss = 0.83668893
Iteration 7, loss = 0.83493100
Iteration 8, loss = 0.83290269
Iteration 9, loss = 0.83025103
Iteration 10, loss = 0.82762324
Iteration 11, loss = 0.82429645
Iteration 12, loss = 0.82060254
Iteration 13, loss = 0.81741022
Iteration 14, loss = 0.81291060
Iteration 15, loss = 0.80947681
Iteration 16, loss = 0.80505581
Iteration 17, loss = 0.80067323
Iteration 18, loss = 0.79661275
Iteration 19, loss = 0.79276496
Iteration 20, loss = 0.78864277
Iteration 21, loss = 0.78466146
Iteration 22, loss = 0.78161060
Iteration 23, loss = 0.77745265
Iteration 24, loss = 0.77393016
Iteration 25, loss = 0.77022258
Iteration 26, loss = 0.76652920
Iteration 27, loss = 0.76386865
Iteration 28, loss = 0.76037353
Iteration 29, loss = 0.75729899
Iteration 30, loss = 0.75408774
Iteration 31, loss = 0.75126225
Iteration 32, loss = 0.74804874
Iteration 33, loss = 0.74530937
Iteration 34, loss = 0.74276154
Iteration 35, loss = 0.73951142
Iteration 36, loss = 0.73722607
Iteration 37, loss = 0.73425823
Iteration 38, loss = 0.73213868
Iteration 39, loss = 0.72920990
Iteration 40, loss = 0.72670734
Iteration 41, loss = 0.72491908
Iteration 42, loss = 0.72248917
Iteration 43, loss = 0.71954679
Iteration 44, loss = 0.71937605
Iteration 45, loss = 0.71483410
Iteration 46, loss = 0.71386841
Iteration 47, loss = 0.71077836
Iteration 48, loss = 0.71070516
Iteration 49, loss = 0.70782465
Iteration 50, loss = 0.70564124
Iteration 51, loss = 0.70397833
Iteration 52, loss = 0.70190051
Iteration 53, loss = 0.69999471
Iteration 54, loss = 0.69863747
Iteration 55, loss = 0.69774554
Iteration 56, loss = 0.69576674
Iteration 57, loss = 0.69517232
Iteration 58, loss = 0.69294302
Iteration 59, loss = 0.69154688
Iteration 60, loss = 0.68790241
Iteration 61, loss = 0.68817516
Iteration 62, loss = 0.68642764
Iteration 63, loss = 0.68454693
Iteration 64, loss = 0.68379091
Iteration 65, loss = 0.68185535
Iteration 66, loss = 0.68209677
Iteration 67, loss = 0.68035509
Iteration 68, loss = 0.68005332
Iteration 69, loss = 0.67598018
Iteration 70, loss = 0.67620058
Iteration 71, loss = 0.67381966
Iteration 72, loss = 0.67289004
Iteration 73, loss = 0.67263275
Iteration 74, loss = 0.67020689
Iteration 75, loss = 0.67172370
Iteration 76, loss = 0.66851097
Iteration 77, loss = 0.66859709
Iteration 78, loss = 0.66592214
Iteration 79, loss = 0.66513828
Iteration 80, loss = 0.66433332
Iteration 81, loss = 0.66364503
Iteration 82, loss = 0.66177994
Iteration 83, loss = 0.66307166
Iteration 84, loss = 0.66086344
Iteration 85, loss = 0.65966109
Iteration 86, loss = 0.65938960
Iteration 87, loss = 0.65758850
Iteration 88, loss = 0.65525722
Iteration 89, loss = 0.65626866
Iteration 90, loss = 0.65570616
Iteration 91, loss = 0.65383636
Iteration 92, loss = 0.65158136
Iteration 93, loss = 0.65357097
Iteration 94, loss = 0.65164746
Iteration 95, loss = 0.65022936
Iteration 96, loss = 0.65046818
Iteration 97, loss = 0.64870736
Iteration 98, loss = 0.64887031
Iteration 99, loss = 0.64761004
Iteration 100, loss = 0.64580934
Iteration 101, loss = 0.64462808
Iteration 102, loss = 0.64450333
Iteration 103, loss = 0.64523497
Iteration 104, loss = 0.64457678
Iteration 105, loss = 0.64252104
Iteration 106, loss = 0.64272478
Iteration 107, loss = 0.64144589
Iteration 108, loss = 0.64096862
Iteration 109, loss = 0.64179757
Iteration 110, loss = 0.63850930
Iteration 111, loss = 0.63980497
Iteration 112, loss = 0.63718024
Iteration 113, loss = 0.63767172
Iteration 114, loss = 0.63676443
Iteration 115, loss = 0.63727632
Iteration 116, loss = 0.63528458
Iteration 117, loss = 0.63469200
Iteration 118, loss = 0.63482124
Iteration 119, loss = 0.63440366
Iteration 120, loss = 0.63320093
Iteration 121, loss = 0.63143657
Iteration 122, loss = 0.63287962
Iteration 123, loss = 0.63358251
Iteration 124, loss = 0.63110225
Iteration 125, loss = 0.62965174
Iteration 126, loss = 0.62896572
Iteration 127, loss = 0.62820549
Iteration 128, loss = 0.62921201
Iteration 129, loss = 0.62761149
Iteration 130, loss = 0.62775241
Iteration 131, loss = 0.62620764
Iteration 132, loss = 0.62613689
Iteration 133, loss = 0.62655022
Iteration 134, loss = 0.62622461
Iteration 135, loss = 0.62400240
Iteration 136, loss = 0.62524917
Iteration 137, loss = 0.62313985
Iteration 138, loss = 0.62300456
Iteration 139, loss = 0.62027034
Iteration 140, loss = 0.62541537
Iteration 141, loss = 0.62140275
Iteration 142, loss = 0.62143283
Iteration 143, loss = 0.62470642
Iteration 144, loss = 0.61956562
Iteration 145, loss = 0.61945774
Iteration 146, loss = 0.62048751
Iteration 147, loss = 0.61980592
Iteration 148, loss = 0.61916731
Iteration 149, loss = 0.61713659
Iteration 150, loss = 0.61603299
Iteration 151, loss = 0.61671680
Iteration 152, loss = 0.61825176
Iteration 153, loss = 0.61486461
Iteration 154, loss = 0.61439675
Iteration 155, loss = 0.62107004
Iteration 156, loss = 0.61403889
Iteration 157, loss = 0.61263564
Iteration 158, loss = 0.61329108
Iteration 159, loss = 0.61183376
Iteration 160, loss = 0.61245216
Iteration 161, loss = 0.61343618
Iteration 162, loss = 0.61307434
Iteration 163, loss = 0.61020881
Iteration 164, loss = 0.61115405
Iteration 165, loss = 0.60916399
Iteration 166, loss = 0.61143701
Iteration 167, loss = 0.61064574
Iteration 168, loss = 0.60985391
Iteration 169, loss = 0.60840492
Iteration 170, loss = 0.60738554
Iteration 171, loss = 0.60783757
Iteration 172, loss = 0.60764824
Iteration 173, loss = 0.60677256
Iteration 174, loss = 0.60845359
Iteration 175, loss = 0.60618236
Iteration 176, loss = 0.60568473
Iteration 177, loss = 0.60698867
Iteration 178, loss = 0.60722437
Iteration 179, loss = 0.60686213
Iteration 180, loss = 0.60314306
Iteration 181, loss = 0.60637373
Iteration 182, loss = 0.60243565
Iteration 183, loss = 0.60229477
Iteration 184, loss = 0.60280743
Iteration 185, loss = 0.60490021
Iteration 186, loss = 0.60197230
Iteration 187, loss = 0.60203383
Iteration 188, loss = 0.60366776
Iteration 189, loss = 0.60059613
Iteration 190, loss = 0.60144973
Iteration 191, loss = 0.60275629
Iteration 192, loss = 0.60144910
Iteration 193, loss = 0.60087913
Iteration 194, loss = 0.60081917
Iteration 195, loss = 0.59989744
Iteration 196, loss = 0.60073563
Iteration 197, loss = 0.59878145
Iteration 198, loss = 0.59926462
Iteration 199, loss = 0.59917535
Iteration 200, loss = 0.59835359
Iteration 201, loss = 0.59708800
Iteration 202, loss = 0.59822708
Iteration 203, loss = 0.59811846
Iteration 204, loss = 0.59881887
Iteration 205, loss = 0.59761465
Iteration 206, loss = 0.59634240
Iteration 207, loss = 0.59647875
Iteration 208, loss = 0.59566910
Iteration 209, loss = 0.59662224
Iteration 210, loss = 0.59644133
Iteration 211, loss = 0.59767591
Iteration 212, loss = 0.59485952
Iteration 213, loss = 0.59513165
Iteration 214, loss = 0.59512852
Iteration 215, loss = 0.59544363
Iteration 216, loss = 0.59408690
Iteration 217, loss = 0.59558421
Iteration 218, loss = 0.59405996
Iteration 219, loss = 0.59345154
Iteration 220, loss = 0.59308968
Iteration 221, loss = 0.59270837
Iteration 222, loss = 0.59208396
Iteration 223, loss = 0.59322233
Iteration 224, loss = 0.59470580
Iteration 225, loss = 0.59255930
Iteration 226, loss = 0.58966984
Iteration 227, loss = 0.59225447
Iteration 228, loss = 0.59242078
Iteration 229, loss = 0.59189389
Iteration 230, loss = 0.59272297
Iteration 231, loss = 0.59188201
Iteration 232, loss = 0.59096877
Iteration 233, loss = 0.59175634
Iteration 234, loss = 0.59088910
Iteration 235, loss = 0.58728169
Iteration 236, loss = 0.58851008
Iteration 237, loss = 0.58892586
Iteration 238, loss = 0.58785740
Iteration 239, loss = 0.59112215
Iteration 240, loss = 0.58917516
Iteration 241, loss = 0.58741721
Iteration 242, loss = 0.58855593
Iteration 243, loss = 0.58718159
Iteration 244, loss = 0.58938368
Iteration 245, loss = 0.58675328
Iteration 246, loss = 0.58650621
Iteration 247, loss = 0.58790129
Iteration 248, loss = 0.58652045
Iteration 249, loss = 0.58631973
Iteration 250, loss = 0.58375936
Iteration 251, loss = 0.58545587
Iteration 252, loss = 0.58656290
Iteration 253, loss = 0.58549351
Iteration 254, loss = 0.58508733
Iteration 255, loss = 0.58561867
Iteration 256, loss = 0.59014472
Iteration 257, loss = 0.58402147
Iteration 258, loss = 0.58290417
Iteration 259, loss = 0.58525754
Iteration 260, loss = 0.58517386
Iteration 261, loss = 0.58307133
Iteration 262, loss = 0.58464771
Iteration 263, loss = 0.58283828
Iteration 264, loss = 0.58345153
Iteration 265, loss = 0.58737324
Iteration 266, loss = 0.58173506
Iteration 267, loss = 0.58201561
Iteration 268, loss = 0.58081730
Iteration 269, loss = 0.58348249
Iteration 270, loss = 0.58349759
Iteration 271, loss = 0.58278400
Iteration 272, loss = 0.58172201
Iteration 273, loss = 0.58194117
Iteration 274, loss = 0.58021636
Iteration 275, loss = 0.57899691
Iteration 276, loss = 0.58115933
Iteration 277, loss = 0.58179691
Iteration 278, loss = 0.57921490
Iteration 279, loss = 0.58105182
Iteration 280, loss = 0.58107759
Iteration 281, loss = 0.58172003
Iteration 282, loss = 0.57988779
Iteration 283, loss = 0.58450552
Iteration 284, loss = 0.58031227
Iteration 285, loss = 0.57667395
Iteration 286, loss = 0.57856981
Iteration 287, loss = 0.57996898
Iteration 288, loss = 0.58003088
Iteration 289, loss = 0.58297562
Iteration 290, loss = 0.57659630
Iteration 291, loss = 0.57594202
Iteration 292, loss = 0.57651162
Iteration 293, loss = 0.57983411
Iteration 294, loss = 0.57892555
Iteration 295, loss = 0.57836833
Iteration 296, loss = 0.57620905
Iteration 297, loss = 0.57550405
Iteration 298, loss = 0.57802776
Iteration 299, loss = 0.57758937
Iteration 300, loss = 0.57480214

  model  accuracy  precision  recall      f1
0   MLP    0.4951     0.4457  0.4951  0.4591

## 9. Save results file

In [14]:
results.to_csv('RESULTS/models_results_sdv.csv', index=False)
results

  model  accuracy  precision  recall      f1
0    RF    0.5460     0.4615  0.5460  0.4239
1   KNN    0.5131     0.4537  0.5131  0.4626
2    DT    0.4556     0.4351  0.4556  0.4441
3   SVM    0.3049     0.4405  0.3049  0.3256
4   MLP    0.4951     0.4457  0.4951  0.4591