# TSTR WGANGP Dataset A - Diabetes

In [1]:
#import libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import os
print('Libraries imported!!')

Libraries imported!!

In [2]:
#define directory of functions and actual directory
HOME_PATH = '' #home directory of the project
FUNCTIONS_DIR = 'EVALUATION FUNCTIONS/UTILITY'
ACTUAL_DIR = os.getcwd()

#change directory to functions directory
os.chdir(HOME_PATH + FUNCTIONS_DIR)

#import functions for data labelling analisys
from utility_evaluation import DataPreProcessor
from utility_evaluation import train_evaluate_model

#change directory to actual directory
os.chdir(ACTUAL_DIR)
print('Functions imported!!')

Functions imported!!

## 1. Read data

In [3]:
#read real dataset
train_data = pd.read_csv(HOME_PATH + 'SYNTHETIC DATASETS/WGANGP/A_Diabetes_Data_Synthetic_WGANGP.csv')
categorical_columns = ['gender','age','admission_type_id','discharge_disposition_id','admission_source_id','max_glu_serum',
                      'A1Cresult','change','diabetesMed','readmitted']
for col in categorical_columns :
    train_data[col] = train_data[col].astype('category')
train_data

,encounter_id,patient_nbr,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,max_glu_serum,A1Cresult,change,diabetesMed,readmitted
0,160291792,30203270,Female,[60-70),5,1,1,2,30,0,15,1,1,1,6,None,None,Ch,Yes,>30
1,150234576,23529820,Female,[60-70),5,1,1,1,24,0,15,2,2,2,5,None,None,Ch,Yes,>30
2,157173424,32108070,Female,[60-70),5,1,1,2,30,1,16,1,1,1,6,None,None,Ch,Yes,>30
3,170411776,42212280,Male,[60-70),5,1,1,2,33,1,15,0,1,1,7,None,None,Ch,Yes,NO
4,162151744,32820374,Female,[60-70),5,1,1,2,34,0,15,1,1,1,6,None,None,Ch,Yes,>30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81407,157678000,37311180,Female,[60-70),5,1,1,3,35,0,15,1,1,1,6,None,None,Ch,Yes,>30
81408,150013616,62489392,Male,[60-70),2,1,7,6,61,2,19,0,0,1,8,None,None,Ch,Yes,<30
81409,102509624,9322925,Male,[60-70),3,1,1,3,36,1,18,0,0,0,7,None,None,Ch,Yes,NO
81410,154289120,29546988,Female,[60-70),5,1,1,2,27,1,16,2,2,2,5,None,None,Ch,Yes,>30
81411,152470064,40726996,Male,[60-70),5,1,17,4,28,1,16,0,0,0,7,None,None,Ch,Yes,NO

In [4]:
#read test data
test_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TEST DATASETS/A_Diabetes_Data_Real_Test.csv')
for col in categorical_columns :
    test_data[col] = test_data[col].astype('category')
test_data

,encounter_id,patient_nbr,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,max_glu_serum,A1Cresult,change,diabetesMed,readmitted
0,110939484,19274094,Female,[70-80),1,1,6,11,68,0,20,0,0,0,5,None,None,No,Yes,NO
1,170328306,65634327,Male,[50-60),1,1,1,1,20,0,7,0,0,0,8,None,None,No,Yes,NO
2,245688426,100657359,Female,[60-70),3,6,1,4,21,3,23,1,0,2,7,None,None,No,Yes,NO
3,150826224,83144448,Male,[30-40),2,1,1,12,28,0,19,0,0,1,7,None,None,No,Yes,>30
4,135993852,65234214,Female,[60-70),1,2,7,1,21,0,6,0,0,0,7,None,None,No,Yes,<30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20349,61022328,93447369,Male,[80-90),1,1,7,6,51,1,17,0,0,0,8,None,None,No,Yes,<30
20350,189128682,97296336,Male,[40-50),3,1,1,2,49,1,16,0,0,2,9,None,None,Ch,Yes,<30
20351,251922018,84358062,Female,[70-80),1,1,7,9,41,2,17,3,0,0,9,None,None,No,Yes,>30
20352,214461468,98468460,Male,[70-80),2,1,7,2,22,0,5,0,0,0,7,None,None,No,Yes,>30
20353,128407860,42489621,Male,[80-90),3,1,1,7,16,4,14,0,0,0,9,None,None,No,Yes,NO

In [5]:
target = 'readmitted'
#quick look at the breakdown of class values
print('Train data')
print(train_data.shape)
print(train_data.groupby(target).size())
print('#####################################')
print('Test data')
print(test_data.shape)
print(test_data.groupby(target).size())

Train data
(81412, 20)
readmitted
<30    14552
>30    42112
NO     24748
dtype: int64
#####################################
Test data
(20354, 20)
readmitted
<30     2285
>30     7117
NO     10952
dtype: int64

## 2. Pre-process training data

In [6]:
target = 'readmitted'
categorical_columns = ['gender','age','admission_type_id','discharge_disposition_id','admission_source_id','max_glu_serum',
                    'A1Cresult','change','diabetesMed']
numerical_columns = train_data.select_dtypes(include=['int64','float64']).columns.tolist()
categories = [np.array(range(3)), np.array(range(10)), np.array(range(9)), np.array(range(29)), np.array(range(21)), 
                np.array(range(4)), np.array(range(4)), np.array(range(2)), np.array(range(2))]


data_preprocessor = DataPreProcessor(categorical_columns, numerical_columns, categories)
x_train = data_preprocessor.preprocess_train_data(train_data.loc[:, train_data.columns != target])
y_train = train_data.loc[:, target]

x_train.shape, y_train.shape

((81412, 94), (81412,))

## 3. Preprocess test data

In [7]:
x_test = data_preprocessor.preprocess_test_data(test_data.loc[:, test_data.columns != target])
y_test = test_data.loc[:, target]
x_test.shape, y_test.shape

((20354, 94), (20354,))

## 4. Create a dataset to save the results

In [8]:
results = pd.DataFrame(columns = ['model','accuracy','precision','recall','f1'])
results

Empty DataFrame
Columns: [model, accuracy, precision, recall, f1]
Index: []

## 4. Train and evaluate Random Forest Classifier

In [9]:
rf_results = train_evaluate_model('RF', x_train, y_train, x_test, y_test)
results = results.append(rf_results, ignore_index=True)
rf_results

[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    1.9s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    4.3s finished
[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.0s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.1s finished

  model  accuracy  precision  recall     f1
0    RF    0.4917     0.4541  0.4917  0.461

## 5. Train and Evaluate KNeighbors Classifier

In [10]:
knn_results = train_evaluate_model('KNN', x_train, y_train, x_test, y_test)
results = results.append(knn_results, ignore_index=True)
knn_results

  model  accuracy  precision  recall      f1
0   KNN    0.4248     0.4528  0.4248  0.4316

## 6. Train and evaluate Decision Tree Classifier

In [11]:
dt_results = train_evaluate_model('DT', x_train, y_train, x_test, y_test)
results = results.append(dt_results, ignore_index=True)
dt_results

  model  accuracy  precision  recall      f1
0    DT    0.4208     0.4414  0.4208  0.4289

## 7. Train and evaluate Support Vector Machines Classifier

In [12]:
svm_results = train_evaluate_model('SVM', x_train, y_train, x_test, y_test)
svm_results['model'] = svm_results['model'].replace(['MLP'],'SVM')
results = results.append(svm_results, ignore_index=True)
svm_results

[LibSVM]

  model  accuracy  precision  recall      f1
0   SVM    0.2249     0.4742  0.2249  0.2386

## 8. Train and evaluate Multilayer Perceptron Classifier

In [13]:
mlp_results = train_evaluate_model('MLP', x_train, y_train, x_test, y_test)
results = results.append(mlp_results, ignore_index=True)
mlp_results

Iteration 1, loss = 0.16884682
Iteration 2, loss = 0.11760759
Iteration 3, loss = 0.11087512
Iteration 4, loss = 0.10780863
Iteration 5, loss = 0.10604144
Iteration 6, loss = 0.10372577
Iteration 7, loss = 0.10244279
Iteration 8, loss = 0.10085110
Iteration 9, loss = 0.10068159
Iteration 10, loss = 0.09907646
Iteration 11, loss = 0.09849422
Iteration 12, loss = 0.09752210
Iteration 13, loss = 0.09802663
Iteration 14, loss = 0.09621681
Iteration 15, loss = 0.09506780
Iteration 16, loss = 0.09471739
Iteration 17, loss = 0.09493640
Iteration 18, loss = 0.09381768
Iteration 19, loss = 0.09360797
Iteration 20, loss = 0.09312458
Iteration 21, loss = 0.09295738
Iteration 22, loss = 0.09144284
Iteration 23, loss = 0.09148732
Iteration 24, loss = 0.09269785
Iteration 25, loss = 0.09100285
Iteration 26, loss = 0.09023553
Iteration 27, loss = 0.08957925
Iteration 28, loss = 0.08907526
Iteration 29, loss = 0.08843624
Iteration 30, loss = 0.08845586
Iteration 31, loss = 0.08936051
Iteration 32, loss = 0.08747273
Iteration 33, loss = 0.08733213
Iteration 34, loss = 0.08730294
Iteration 35, loss = 0.08750936
Iteration 36, loss = 0.08690376
Iteration 37, loss = 0.08585512
Iteration 38, loss = 0.08560621
Iteration 39, loss = 0.08570093
Iteration 40, loss = 0.08535876
Iteration 41, loss = 0.08468578
Iteration 42, loss = 0.08464311
Iteration 43, loss = 0.08409330
Iteration 44, loss = 0.08446448
Iteration 45, loss = 0.08437501
Iteration 46, loss = 0.08370147
Iteration 47, loss = 0.08363643
Iteration 48, loss = 0.08313629
Iteration 49, loss = 0.08276398
Iteration 50, loss = 0.08297135
Iteration 51, loss = 0.08254358
Iteration 52, loss = 0.08269883
Iteration 53, loss = 0.08207576
Iteration 54, loss = 0.08275369
Iteration 55, loss = 0.08087098
Iteration 56, loss = 0.08097762
Iteration 57, loss = 0.08192329
Iteration 58, loss = 0.08029770
Iteration 59, loss = 0.08087960
Iteration 60, loss = 0.08029598
Iteration 61, loss = 0.08019842
Iteration 62, loss = 0.08092762
Iteration 63, loss = 0.07994344
Iteration 64, loss = 0.07951277
Iteration 65, loss = 0.07871672
Iteration 66, loss = 0.07949115
Iteration 67, loss = 0.07930129
Iteration 68, loss = 0.07934818
Iteration 69, loss = 0.07833195
Iteration 70, loss = 0.07815321
Iteration 71, loss = 0.07772601
Iteration 72, loss = 0.07794973
Iteration 73, loss = 0.07801257
Iteration 74, loss = 0.07699067
Iteration 75, loss = 0.07731919
Iteration 76, loss = 0.07711909
Iteration 77, loss = 0.07667275
Iteration 78, loss = 0.07667737
Iteration 79, loss = 0.07733155
Iteration 80, loss = 0.07671772
Iteration 81, loss = 0.07613861
Iteration 82, loss = 0.07571255
Iteration 83, loss = 0.07571284
Iteration 84, loss = 0.07593547
Iteration 85, loss = 0.07491435
Iteration 86, loss = 0.07525687
Iteration 87, loss = 0.07481302
Iteration 88, loss = 0.07501558
Iteration 89, loss = 0.07518492
Iteration 90, loss = 0.07476168
Iteration 91, loss = 0.07454061
Iteration 92, loss = 0.07481716
Iteration 93, loss = 0.07388768
Iteration 94, loss = 0.07420896
Iteration 95, loss = 0.07372072
Iteration 96, loss = 0.07366153
Iteration 97, loss = 0.07321364
Iteration 98, loss = 0.07341553
Iteration 99, loss = 0.07296553
Iteration 100, loss = 0.07324213
Iteration 101, loss = 0.07229074
Iteration 102, loss = 0.07287884
Iteration 103, loss = 0.07285499
Iteration 104, loss = 0.07197826
Iteration 105, loss = 0.07201956
Iteration 106, loss = 0.07198483
Iteration 107, loss = 0.07165643
Iteration 108, loss = 0.07228303
Iteration 109, loss = 0.07173197
Iteration 110, loss = 0.07176880
Iteration 111, loss = 0.07093097
Iteration 112, loss = 0.07182061
Iteration 113, loss = 0.07105408
Iteration 114, loss = 0.07123312
Iteration 115, loss = 0.07028336
Iteration 116, loss = 0.07126745
Iteration 117, loss = 0.07031687
Iteration 118, loss = 0.06957849
Iteration 119, loss = 0.07005831
Iteration 120, loss = 0.06990693
Iteration 121, loss = 0.06977117
Iteration 122, loss = 0.07035328
Iteration 123, loss = 0.07043712
Iteration 124, loss = 0.06911500
Iteration 125, loss = 0.06895707
Iteration 126, loss = 0.06860854
Iteration 127, loss = 0.06866826
Iteration 128, loss = 0.06901067
Iteration 129, loss = 0.06885425
Iteration 130, loss = 0.06874597
Iteration 131, loss = 0.06811285
Iteration 132, loss = 0.06930324
Iteration 133, loss = 0.06857331
Iteration 134, loss = 0.06831810
Iteration 135, loss = 0.06825206
Iteration 136, loss = 0.06766545
Iteration 137, loss = 0.06764859
Iteration 138, loss = 0.06767731
Iteration 139, loss = 0.06809873
Iteration 140, loss = 0.06732120
Iteration 141, loss = 0.06688678
Iteration 142, loss = 0.06762573
Iteration 143, loss = 0.06689077
Iteration 144, loss = 0.06700977
Iteration 145, loss = 0.06687338
Iteration 146, loss = 0.06615829
Iteration 147, loss = 0.06739989
Iteration 148, loss = 0.06588286
Iteration 149, loss = 0.06618304
Iteration 150, loss = 0.06599229
Iteration 151, loss = 0.06555316
Iteration 152, loss = 0.06803300
Iteration 153, loss = 0.06548007
Iteration 154, loss = 0.06730829
Iteration 155, loss = 0.06495566
Iteration 156, loss = 0.06647049
Iteration 157, loss = 0.06494607
Iteration 158, loss = 0.06548816
Iteration 159, loss = 0.06524722
Iteration 160, loss = 0.06468816
Iteration 161, loss = 0.06518850
Iteration 162, loss = 0.06491558
Iteration 163, loss = 0.06480232
Iteration 164, loss = 0.06465264
Iteration 165, loss = 0.06463974
Iteration 166, loss = 0.06461804
Iteration 167, loss = 0.06465604
Iteration 168, loss = 0.06416673
Iteration 169, loss = 0.06448611
Iteration 170, loss = 0.06445897
Iteration 171, loss = 0.06423456
Iteration 172, loss = 0.06336560
Iteration 173, loss = 0.06365581
Iteration 174, loss = 0.06411409
Iteration 175, loss = 0.06365014
Iteration 176, loss = 0.06272012
Iteration 177, loss = 0.06314045
Iteration 178, loss = 0.06307628
Iteration 179, loss = 0.06384126
Iteration 180, loss = 0.06367482
Iteration 181, loss = 0.06290912
Iteration 182, loss = 0.06232280
Iteration 183, loss = 0.06247049
Iteration 184, loss = 0.06241790
Iteration 185, loss = 0.06214066
Iteration 186, loss = 0.06345960
Iteration 187, loss = 0.06457153
Iteration 188, loss = 0.06248556
Iteration 189, loss = 0.06227473
Iteration 190, loss = 0.06129044
Iteration 191, loss = 0.06191925
Iteration 192, loss = 0.06108450
Iteration 193, loss = 0.06180952
Iteration 194, loss = 0.06096646
Iteration 195, loss = 0.06154280
Iteration 196, loss = 0.06224314
Iteration 197, loss = 0.06027165
Iteration 198, loss = 0.06135558
Iteration 199, loss = 0.06134351
Iteration 200, loss = 0.06105118
Iteration 201, loss = 0.06092726
Iteration 202, loss = 0.06085876
Iteration 203, loss = 0.06040292
Iteration 204, loss = 0.06052297
Iteration 205, loss = 0.06099803
Iteration 206, loss = 0.06073520
Iteration 207, loss = 0.06056641
Iteration 208, loss = 0.05985769
Iteration 209, loss = 0.05935794
Iteration 210, loss = 0.06012419
Iteration 211, loss = 0.06098135
Iteration 212, loss = 0.06015796
Iteration 213, loss = 0.06187713
Iteration 214, loss = 0.06007996
Iteration 215, loss = 0.05899432
Iteration 216, loss = 0.05900739
Iteration 217, loss = 0.06009527
Iteration 218, loss = 0.05927012
Iteration 219, loss = 0.05917751
Iteration 220, loss = 0.05890830
Iteration 221, loss = 0.05845408
Iteration 222, loss = 0.05903195
Iteration 223, loss = 0.05860681
Iteration 224, loss = 0.06009144
Iteration 225, loss = 0.05875752
Iteration 226, loss = 0.05844925
Iteration 227, loss = 0.05858625
Iteration 228, loss = 0.05842384
Iteration 229, loss = 0.06052187
Iteration 230, loss = 0.05986945
Iteration 231, loss = 0.05865986
Iteration 232, loss = 0.05807712
Iteration 233, loss = 0.05790273
Iteration 234, loss = 0.05798713
Iteration 235, loss = 0.05841314
Iteration 236, loss = 0.05720152
Iteration 237, loss = 0.05794359
Iteration 238, loss = 0.05799226
Iteration 239, loss = 0.05894730
Iteration 240, loss = 0.05755885
Iteration 241, loss = 0.05862449
Iteration 242, loss = 0.05772243
Iteration 243, loss = 0.05822016
Iteration 244, loss = 0.05747785
Iteration 245, loss = 0.05720019
Iteration 246, loss = 0.05787932
Iteration 247, loss = 0.05663695
Iteration 248, loss = 0.05631895
Iteration 249, loss = 0.05678419
Iteration 250, loss = 0.06008359
Iteration 251, loss = 0.05877687
Iteration 252, loss = 0.05632434
Iteration 253, loss = 0.05803568
Iteration 254, loss = 0.05577612
Iteration 255, loss = 0.05558973
Iteration 256, loss = 0.05742623
Iteration 257, loss = 0.05589422
Iteration 258, loss = 0.05609675
Iteration 259, loss = 0.05628966
Iteration 260, loss = 0.05680257
Iteration 261, loss = 0.05613167
Iteration 262, loss = 0.05656384
Iteration 263, loss = 0.05551431
Iteration 264, loss = 0.05679815
Iteration 265, loss = 0.05567291
Iteration 266, loss = 0.05557031
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

  model  accuracy  precision  recall      f1
0   MLP    0.4685     0.4333  0.4685  0.4283

## 9. Save results file

In [14]:
results.to_csv('RESULTS/models_results_wgangp.csv', index=False)
results

  model  accuracy  precision  recall      f1
0    RF    0.4917     0.4541  0.4917  0.4610
1   KNN    0.4248     0.4528  0.4248  0.4316
2    DT    0.4208     0.4414  0.4208  0.4289
3   SVM    0.2249     0.4742  0.2249  0.2386
4   MLP    0.4685     0.4333  0.4685  0.4283