# TSTR CTGAN Dataset A - Diabetes

In [1]:
#import libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import os
print('Libraries imported!!')

Libraries imported!!

In [2]:
#define directory of functions and actual directory
HOME_PATH = '' #home directory of the project
FUNCTIONS_DIR = 'EVALUATION FUNCTIONS/UTILITY'
ACTUAL_DIR = os.getcwd()

#change directory to functions directory
os.chdir(HOME_PATH + FUNCTIONS_DIR)

#import functions for data labelling analisys
from utility_evaluation import DataPreProcessor
from utility_evaluation import train_evaluate_model

#change directory to actual directory
os.chdir(ACTUAL_DIR)
print('Functions imported!!')

Functions imported!!

## 1. Read data

In [3]:
#read real dataset
train_data = pd.read_csv(HOME_PATH + 'SYNTHETIC DATASETS/CTGAN/A_Diabetes_Data_Synthetic_CTGAN.csv')
categorical_columns = ['gender','age','admission_type_id','discharge_disposition_id','admission_source_id','max_glu_serum',
                      'A1Cresult','change','diabetesMed','readmitted']
for col in categorical_columns :
    train_data[col] = train_data[col].astype('category')
train_data

,encounter_id,patient_nbr,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,max_glu_serum,A1Cresult,change,diabetesMed,readmitted
0,178760744,61269320,Female,[60-70),3,1,1,4,55,1,22,0,0,0,7,None,>8,Ch,Yes,NO
1,275127896,37904511,Male,[50-60),3,1,1,3,61,2,17,0,0,0,7,None,None,Ch,Yes,NO
2,88957358,23026313,Female,[70-80),2,1,10,3,46,0,17,0,0,0,5,None,None,No,Yes,NO
3,362071111,114265419,Female,[50-60),1,1,7,2,46,0,7,0,0,0,7,None,None,No,No,NO
4,160779558,92169994,Male,[40-50),1,1,7,4,35,1,12,0,1,2,7,None,None,No,No,>30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81407,55916783,962667,Female,[70-80),1,6,7,4,69,0,17,0,0,1,9,None,>8,No,Yes,NO
81408,383410659,88478903,Female,[50-60),1,1,7,10,45,2,10,0,1,1,8,None,Norm,Ch,Yes,>30
81409,163294538,52575141,Female,[80-90),1,3,7,9,45,2,16,0,0,1,9,None,None,No,No,NO
81410,112081539,4929517,Female,[70-80),1,11,7,6,78,2,17,0,0,0,4,None,None,No,Yes,NO
81411,27107267,20836275,Male,[50-60),2,1,4,2,30,0,8,0,0,1,4,>200,None,No,Yes,>30

In [4]:
#read test data
test_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TEST DATASETS/A_Diabetes_Data_Real_Test.csv')
for col in categorical_columns :
    test_data[col] = test_data[col].astype('category')
test_data

,encounter_id,patient_nbr,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,max_glu_serum,A1Cresult,change,diabetesMed,readmitted
0,110939484,19274094,Female,[70-80),1,1,6,11,68,0,20,0,0,0,5,None,None,No,Yes,NO
1,170328306,65634327,Male,[50-60),1,1,1,1,20,0,7,0,0,0,8,None,None,No,Yes,NO
2,245688426,100657359,Female,[60-70),3,6,1,4,21,3,23,1,0,2,7,None,None,No,Yes,NO
3,150826224,83144448,Male,[30-40),2,1,1,12,28,0,19,0,0,1,7,None,None,No,Yes,>30
4,135993852,65234214,Female,[60-70),1,2,7,1,21,0,6,0,0,0,7,None,None,No,Yes,<30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20349,61022328,93447369,Male,[80-90),1,1,7,6,51,1,17,0,0,0,8,None,None,No,Yes,<30
20350,189128682,97296336,Male,[40-50),3,1,1,2,49,1,16,0,0,2,9,None,None,Ch,Yes,<30
20351,251922018,84358062,Female,[70-80),1,1,7,9,41,2,17,3,0,0,9,None,None,No,Yes,>30
20352,214461468,98468460,Male,[70-80),2,1,7,2,22,0,5,0,0,0,7,None,None,No,Yes,>30
20353,128407860,42489621,Male,[80-90),3,1,1,7,16,4,14,0,0,0,9,None,None,No,Yes,NO

In [5]:
target = 'readmitted'
#quick look at the breakdown of class values
print('Train data')
print(train_data.shape)
print(train_data.groupby(target).size())
print('#####################################')
print('Test data')
print(test_data.shape)
print(test_data.groupby(target).size())

Train data
(81412, 20)
readmitted
<30     6053
>30    19624
NO     55735
dtype: int64
#####################################
Test data
(20354, 20)
readmitted
<30     2285
>30     7117
NO     10952
dtype: int64

## 2. Pre-process training data

In [6]:
target = 'readmitted'
categorical_columns = ['gender','age','admission_type_id','discharge_disposition_id','admission_source_id','max_glu_serum',
                    'A1Cresult','change','diabetesMed']
numerical_columns = train_data.select_dtypes(include=['int64','float64']).columns.tolist()
categories = [np.array(range(3)), np.array(range(10)), np.array(range(9)), np.array(range(29)), np.array(range(21)), 
                np.array(range(4)), np.array(range(4)), np.array(range(2)), np.array(range(2))]


data_preprocessor = DataPreProcessor(categorical_columns, numerical_columns, categories)
x_train = data_preprocessor.preprocess_train_data(train_data.loc[:, train_data.columns != target])
y_train = train_data.loc[:, target]

x_train.shape, y_train.shape

((81412, 94), (81412,))

## 3. Preprocess test data

In [7]:
x_test = data_preprocessor.preprocess_test_data(test_data.loc[:, test_data.columns != target])
y_test = test_data.loc[:, target]
x_test.shape, y_test.shape

((20354, 94), (20354,))

## 4. Create a dataset to save the results

In [8]:
results = pd.DataFrame(columns = ['model','accuracy','precision','recall','f1'])
results

Empty DataFrame
Columns: [model, accuracy, precision, recall, f1]
Index: []

## 4. Train and evaluate Random Forest Classifier

In [9]:
rf_results = train_evaluate_model('RF', x_train, y_train, x_test, y_test)
results = results.append(rf_results, ignore_index=True)
rf_results

[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    3.5s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    7.7s finished
[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.1s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.3s finished

  model  accuracy  precision  recall     f1
0    RF     0.556     0.4953   0.556  0.472

## 5. Train and Evaluate KNeighbors Classifier

In [10]:
knn_results = train_evaluate_model('KNN', x_train, y_train, x_test, y_test)
results = results.append(knn_results, ignore_index=True)
knn_results

  model  accuracy  precision  recall      f1
0   KNN    0.5436     0.4845  0.5436  0.4902

## 6. Train and evaluate Decision Tree Classifier

In [11]:
dt_results = train_evaluate_model('DT', x_train, y_train, x_test, y_test)
results = results.append(dt_results, ignore_index=True)
dt_results

  model  accuracy  precision  recall     f1
0    DT    0.4733     0.4585  0.4733  0.464

## 7. Train and evaluate Support Vector Machines Classifier

In [12]:
svm_results = train_evaluate_model('SVM', x_train, y_train, x_test, y_test)
results = results.append(svm_results, ignore_index=True)
svm_results

[LibSVM]

  model  accuracy  precision  recall      f1
0   SVM    0.2739     0.4301  0.2739  0.3008

## 8. Train and evaluate Multilayer Perceptron Classifier

In [13]:
mlp_results = train_evaluate_model('MLP', x_train, y_train, x_test, y_test)
results = results.append(mlp_results, ignore_index=True)
mlp_results

Iteration 1, loss = 0.72789989
Iteration 2, loss = 0.70337146
Iteration 3, loss = 0.69867111
Iteration 4, loss = 0.69494769
Iteration 5, loss = 0.69104289
Iteration 6, loss = 0.68845639
Iteration 7, loss = 0.68556096
Iteration 8, loss = 0.68295448
Iteration 9, loss = 0.67952906
Iteration 10, loss = 0.67674309
Iteration 11, loss = 0.67338795
Iteration 12, loss = 0.67055977
Iteration 13, loss = 0.66708735
Iteration 14, loss = 0.66325374
Iteration 15, loss = 0.65971412
Iteration 16, loss = 0.65635475
Iteration 17, loss = 0.65288090
Iteration 18, loss = 0.64930976
Iteration 19, loss = 0.64638066
Iteration 20, loss = 0.64244679
Iteration 21, loss = 0.63959487
Iteration 22, loss = 0.63606600
Iteration 23, loss = 0.63352972
Iteration 24, loss = 0.63067452
Iteration 25, loss = 0.62675152
Iteration 26, loss = 0.62390428
Iteration 27, loss = 0.62080893
Iteration 28, loss = 0.61722267
Iteration 29, loss = 0.61444050
Iteration 30, loss = 0.61126848
Iteration 31, loss = 0.60883342
Iteration 32, loss = 0.60607625
Iteration 33, loss = 0.60436912
Iteration 34, loss = 0.60072202
Iteration 35, loss = 0.59835642
Iteration 36, loss = 0.59679928
Iteration 37, loss = 0.59350784
Iteration 38, loss = 0.59188143
Iteration 39, loss = 0.58872513
Iteration 40, loss = 0.58635434
Iteration 41, loss = 0.58439615
Iteration 42, loss = 0.58188241
Iteration 43, loss = 0.57976703
Iteration 44, loss = 0.57777830
Iteration 45, loss = 0.57616122
Iteration 46, loss = 0.57357995
Iteration 47, loss = 0.57110689
Iteration 48, loss = 0.57055525
Iteration 49, loss = 0.56801830
Iteration 50, loss = 0.56639064
Iteration 51, loss = 0.56404930
Iteration 52, loss = 0.56125686
Iteration 53, loss = 0.56118880
Iteration 54, loss = 0.55838067
Iteration 55, loss = 0.55558362
Iteration 56, loss = 0.55508713
Iteration 57, loss = 0.55318261
Iteration 58, loss = 0.55110992
Iteration 59, loss = 0.54956973
Iteration 60, loss = 0.54792542
Iteration 61, loss = 0.54951672
Iteration 62, loss = 0.54598432
Iteration 63, loss = 0.54443597
Iteration 64, loss = 0.54154803
Iteration 65, loss = 0.54233452
Iteration 66, loss = 0.53944469
Iteration 67, loss = 0.53748665
Iteration 68, loss = 0.53803908
Iteration 69, loss = 0.53533050
Iteration 70, loss = 0.53397235
Iteration 71, loss = 0.53333936
Iteration 72, loss = 0.53231290
Iteration 73, loss = 0.53038816
Iteration 74, loss = 0.53070513
Iteration 75, loss = 0.52764051
Iteration 76, loss = 0.52677120
Iteration 77, loss = 0.52765861
Iteration 78, loss = 0.52597260
Iteration 79, loss = 0.52344255
Iteration 80, loss = 0.52176742
Iteration 81, loss = 0.52160140
Iteration 82, loss = 0.52141698
Iteration 83, loss = 0.51943686
Iteration 84, loss = 0.52016983
Iteration 85, loss = 0.51624075
Iteration 86, loss = 0.51658477
Iteration 87, loss = 0.51614055
Iteration 88, loss = 0.51396315
Iteration 89, loss = 0.51405752
Iteration 90, loss = 0.51262091
Iteration 91, loss = 0.51202111
Iteration 92, loss = 0.51052780
Iteration 93, loss = 0.50915334
Iteration 94, loss = 0.50872343
Iteration 95, loss = 0.50756777
Iteration 96, loss = 0.50696145
Iteration 97, loss = 0.50753287
Iteration 98, loss = 0.50687886
Iteration 99, loss = 0.50426613
Iteration 100, loss = 0.50430744
Iteration 101, loss = 0.50194838
Iteration 102, loss = 0.50183826
Iteration 103, loss = 0.50515700
Iteration 104, loss = 0.50089705
Iteration 105, loss = 0.49945599
Iteration 106, loss = 0.49744278
Iteration 107, loss = 0.49675949
Iteration 108, loss = 0.49610835
Iteration 109, loss = 0.49638193
Iteration 110, loss = 0.49725688
Iteration 111, loss = 0.49424885
Iteration 112, loss = 0.49420480
Iteration 113, loss = 0.49291323
Iteration 114, loss = 0.49327164
Iteration 115, loss = 0.49073833
Iteration 116, loss = 0.49129450
Iteration 117, loss = 0.49200263
Iteration 118, loss = 0.49060443
Iteration 119, loss = 0.48830101
Iteration 120, loss = 0.48924564
Iteration 121, loss = 0.48707574
Iteration 122, loss = 0.48634542
Iteration 123, loss = 0.48747392
Iteration 124, loss = 0.48559040
Iteration 125, loss = 0.48675090
Iteration 126, loss = 0.48544457
Iteration 127, loss = 0.48451268
Iteration 128, loss = 0.48344050
Iteration 129, loss = 0.48329605
Iteration 130, loss = 0.48198279
Iteration 131, loss = 0.48037286
Iteration 132, loss = 0.48114465
Iteration 133, loss = 0.48084256
Iteration 134, loss = 0.48005005
Iteration 135, loss = 0.47784364
Iteration 136, loss = 0.47897934
Iteration 137, loss = 0.47988417
Iteration 138, loss = 0.47809786
Iteration 139, loss = 0.47920466
Iteration 140, loss = 0.47593154
Iteration 141, loss = 0.47460582
Iteration 142, loss = 0.47361054
Iteration 143, loss = 0.47366423
Iteration 144, loss = 0.47336588
Iteration 145, loss = 0.47272219
Iteration 146, loss = 0.47598372
Iteration 147, loss = 0.47339356
Iteration 148, loss = 0.47309831
Iteration 149, loss = 0.47077661
Iteration 150, loss = 0.46943998
Iteration 151, loss = 0.47019368
Iteration 152, loss = 0.47168333
Iteration 153, loss = 0.46925995
Iteration 154, loss = 0.46922321
Iteration 155, loss = 0.46871879
Iteration 156, loss = 0.46692446
Iteration 157, loss = 0.46673254
Iteration 158, loss = 0.47005074
Iteration 159, loss = 0.46635802
Iteration 160, loss = 0.46609609
Iteration 161, loss = 0.46735693
Iteration 162, loss = 0.46514047
Iteration 163, loss = 0.46489610
Iteration 164, loss = 0.46488717
Iteration 165, loss = 0.46399810
Iteration 166, loss = 0.46172325
Iteration 167, loss = 0.46324333
Iteration 168, loss = 0.46216426
Iteration 169, loss = 0.46352169
Iteration 170, loss = 0.46184202
Iteration 171, loss = 0.46168082
Iteration 172, loss = 0.46374740
Iteration 173, loss = 0.46014560
Iteration 174, loss = 0.45880381
Iteration 175, loss = 0.46125533
Iteration 176, loss = 0.45926829
Iteration 177, loss = 0.45881695
Iteration 178, loss = 0.45955930
Iteration 179, loss = 0.45709317
Iteration 180, loss = 0.45971618
Iteration 181, loss = 0.45726906
Iteration 182, loss = 0.45838765
Iteration 183, loss = 0.45680199
Iteration 184, loss = 0.45562654
Iteration 185, loss = 0.45619697
Iteration 186, loss = 0.45571163
Iteration 187, loss = 0.45981592
Iteration 188, loss = 0.45578523
Iteration 189, loss = 0.45428757
Iteration 190, loss = 0.45366194
Iteration 191, loss = 0.45352417
Iteration 192, loss = 0.45215405
Iteration 193, loss = 0.45655217
Iteration 194, loss = 0.45436192
Iteration 195, loss = 0.45140115
Iteration 196, loss = 0.45009479
Iteration 197, loss = 0.45166571
Iteration 198, loss = 0.45271114
Iteration 199, loss = 0.45071491
Iteration 200, loss = 0.45153608
Iteration 201, loss = 0.45011217
Iteration 202, loss = 0.45539544
Iteration 203, loss = 0.44961542
Iteration 204, loss = 0.44745533
Iteration 205, loss = 0.44856470
Iteration 206, loss = 0.44857968
Iteration 207, loss = 0.44926068
Iteration 208, loss = 0.44950132
Iteration 209, loss = 0.44796807
Iteration 210, loss = 0.44926377
Iteration 211, loss = 0.44790734
Iteration 212, loss = 0.44679355
Iteration 213, loss = 0.44638592
Iteration 214, loss = 0.44690040
Iteration 215, loss = 0.44948239
Iteration 216, loss = 0.44574552
Iteration 217, loss = 0.44605890
Iteration 218, loss = 0.44543416
Iteration 219, loss = 0.45021852
Iteration 220, loss = 0.44469567
Iteration 221, loss = 0.44391571
Iteration 222, loss = 0.44397324
Iteration 223, loss = 0.44296360
Iteration 224, loss = 0.44587001
Iteration 225, loss = 0.44168793
Iteration 226, loss = 0.44318173
Iteration 227, loss = 0.44369044
Iteration 228, loss = 0.44230250
Iteration 229, loss = 0.44121053
Iteration 230, loss = 0.44904907
Iteration 231, loss = 0.44141074
Iteration 232, loss = 0.43933014
Iteration 233, loss = 0.44045682
Iteration 234, loss = 0.44140281
Iteration 235, loss = 0.43889838
Iteration 236, loss = 0.44159405
Iteration 237, loss = 0.43887640
Iteration 238, loss = 0.44292616
Iteration 239, loss = 0.43936197
Iteration 240, loss = 0.43793412
Iteration 241, loss = 0.43812738
Iteration 242, loss = 0.43621211
Iteration 243, loss = 0.44317461
Iteration 244, loss = 0.43746282
Iteration 245, loss = 0.43835792
Iteration 246, loss = 0.43703480
Iteration 247, loss = 0.43943225
Iteration 248, loss = 0.43602537
Iteration 249, loss = 0.43503198
Iteration 250, loss = 0.43768331
Iteration 251, loss = 0.43779224
Iteration 252, loss = 0.43522501
Iteration 253, loss = 0.43666868
Iteration 254, loss = 0.43848212
Iteration 255, loss = 0.43779337
Iteration 256, loss = 0.43566546
Iteration 257, loss = 0.43786909
Iteration 258, loss = 0.43302970
Iteration 259, loss = 0.43406465
Iteration 260, loss = 0.43412032
Iteration 261, loss = 0.43388541
Iteration 262, loss = 0.43211833
Iteration 263, loss = 0.43603260
Iteration 264, loss = 0.43381841
Iteration 265, loss = 0.43087930
Iteration 266, loss = 0.43340112
Iteration 267, loss = 0.45017019
Iteration 268, loss = 0.43335888
Iteration 269, loss = 0.43416865
Iteration 270, loss = 0.43205739
Iteration 271, loss = 0.43289135
Iteration 272, loss = 0.43065146
Iteration 273, loss = 0.43100740
Iteration 274, loss = 0.43031150
Iteration 275, loss = 0.42837829
Iteration 276, loss = 0.43020728
Iteration 277, loss = 0.43406111
Iteration 278, loss = 0.42982561
Iteration 279, loss = 0.42945593
Iteration 280, loss = 0.43182997
Iteration 281, loss = 0.42943510
Iteration 282, loss = 0.43145367
Iteration 283, loss = 0.42866253
Iteration 284, loss = 0.42807080
Iteration 285, loss = 0.42751990
Iteration 286, loss = 0.42681183
Iteration 287, loss = 0.42663101
Iteration 288, loss = 0.42743383
Iteration 289, loss = 0.43107259
Iteration 290, loss = 0.42772299
Iteration 291, loss = 0.42722697
Iteration 292, loss = 0.42567271
Iteration 293, loss = 0.42611184
Iteration 294, loss = 0.42858648
Iteration 295, loss = 0.42522126
Iteration 296, loss = 0.42773169
Iteration 297, loss = 0.42664074
Iteration 298, loss = 0.42536322
Iteration 299, loss = 0.42630185
Iteration 300, loss = 0.42623668

  model  accuracy  precision  recall      f1
0   MLP    0.5113     0.4775  0.5113  0.4847

## 9. Save results file

In [14]:
results.to_csv('RESULTS/models_results_ctgan.csv', index=False)
results

  model  accuracy  precision  recall      f1
0    RF    0.5560     0.4953  0.5560  0.4720
1   KNN    0.5436     0.4845  0.5436  0.4902
2    DT    0.4733     0.4585  0.4733  0.4640
3   SVM    0.2739     0.4301  0.2739  0.3008
4   MLP    0.5113     0.4775  0.5113  0.4847