# TRTR Dataset D

In [1]:
#import libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import os
print('Libraries imported!!')

Libraries imported!!

In [2]:
#define directory of functions and actual directory
HOME_PATH = '' #home path of the project
FUNCTIONS_DIR = 'EVALUATION FUNCTIONS/UTILITY'
ACTUAL_DIR = os.getcwd()

#change directory to functions directory
os.chdir(HOME_PATH + FUNCTIONS_DIR)

#import functions for data labelling analisys
from utility_evaluation import DataPreProcessor
from utility_evaluation import train_evaluate_model

#change directory to actual directory
os.chdir(ACTUAL_DIR)
print('Functions imported!!')

Functions imported!!

## 1. Read data

In [3]:
#read real dataset
train_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TRAIN DATASETS/D_ContraceptiveMethod_Real_Train.csv')
categorical_columns = ['wife_education','husband_education','wife_religion','wife_working','husband_occupation',
                        'standard_of_living_index','media_exposure','contraceptive_method_used']
for col in categorical_columns :
    train_data[col] = train_data[col].astype('category')
train_data

,wife_age,wife_education,husband_education,children,wife_religion,wife_working,husband_occupation,standard_of_living_index,media_exposure,contraceptive_method_used
0,36,2,4,11,1,1,1,4,1,3
1,48,1,3,4,1,1,3,3,1,1
2,38,1,2,8,1,1,3,3,1,1
3,27,2,2,5,1,1,3,1,0,3
4,26,3,2,4,1,1,3,4,0,3
...,...,...,...,...,...,...,...,...,...,...
1173,34,2,4,6,1,0,3,4,0,1
1174,23,4,4,1,1,0,3,4,0,2
1175,29,3,4,3,1,1,3,2,0,3
1176,37,4,4,5,0,0,2,4,0,3
1177,31,4,4,2,1,1,1,2,0,1

In [4]:
#read test data
test_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TEST DATASETS/D_ContraceptiveMethod_Real_Test.csv')
for col in categorical_columns :
    test_data[col] = test_data[col].astype('category')
test_data

,wife_age,wife_education,husband_education,children,wife_religion,wife_working,husband_occupation,standard_of_living_index,media_exposure,contraceptive_method_used
0,29,3,3,4,1,1,3,4,0,3
1,35,3,4,5,1,0,2,2,0,1
2,23,4,4,1,0,1,1,4,0,2
3,30,2,3,3,1,1,3,1,0,1
4,22,2,3,1,1,1,3,3,0,1
...,...,...,...,...,...,...,...,...,...,...
290,38,4,4,3,1,0,1,4,0,2
291,25,2,2,1,1,1,3,3,0,3
292,25,3,1,4,1,1,3,1,0,2
293,24,4,3,3,1,1,3,3,0,3
294,23,4,3,2,1,0,2,3,0,3

In [5]:
target = 'contraceptive_method_used'
#quick look at the breakdown of class values
print('Train data')
print(train_data.shape)
print(train_data.groupby(target).size())
print('#####################################')
print('Test data')
print(test_data.shape)
print(test_data.groupby(target).size())

Train data
(1178, 10)
contraceptive_method_used
1    499
2    262
3    417
dtype: int64
#####################################
Test data
(295, 10)
contraceptive_method_used
1    130
2     71
3     94
dtype: int64

## 2. Pre-process training data

In [6]:
target = 'contraceptive_method_used'
categorical_columns = ['wife_education','husband_education','wife_religion','wife_working','husband_occupation',
                       'standard_of_living_index','media_exposure']
numerical_columns = train_data.select_dtypes(include=['int64','float64']).columns.tolist()
categories = [np.array([0, 1, 2, 3]), np.array([0, 1, 2, 3]), np.array([0, 1]), np.array([0, 1]), 
              np.array([0, 1, 2, 3]), np.array([0, 1, 2, 3]), np.array([0, 1])]

data_preprocessor = DataPreProcessor(categorical_columns, numerical_columns, categories)
x_train = data_preprocessor.preprocess_train_data(train_data.loc[:, train_data.columns != target])
y_train = train_data.loc[:, target]

x_train.shape, y_train.shape

((1178, 24), (1178,))

## 3. Preprocess test data

In [7]:
x_test = data_preprocessor.preprocess_test_data(test_data.loc[:, test_data.columns != target])
y_test = test_data.loc[:, target]
x_test.shape, y_test.shape

((295, 24), (295,))

## 4. Create a dataset to save the results

In [8]:
results = pd.DataFrame(columns = ['model','accuracy','precision','recall','f1'])
results

Empty DataFrame
Columns: [model, accuracy, precision, recall, f1]
Index: []

## 4. Train and evaluate Random Forest Classifier

In [9]:
rf_results = train_evaluate_model('RF', x_train, y_train, x_test, y_test)
results = results.append(rf_results, ignore_index=True)
rf_results

[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.1s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.2s finished
[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.0s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.0s finished

  model  accuracy  precision  recall      f1
0    RF    0.5288     0.5226  0.5288  0.5232

## 5. Train and Evaluate KNeighbors Classifier

In [10]:
knn_results = train_evaluate_model('KNN', x_train, y_train, x_test, y_test)
results = results.append(knn_results, ignore_index=True)
knn_results

  model  accuracy  precision  recall      f1
0   KNN    0.5186      0.524  0.5186  0.5173

## 6. Train and evaluate Decision Tree Classifier

In [11]:
dt_results = train_evaluate_model('DT', x_train, y_train, x_test, y_test)
results = results.append(dt_results, ignore_index=True)
dt_results

  model  accuracy  precision  recall      f1
0    DT    0.5051     0.5022  0.5051  0.5031

## 7. Train and evaluate Support Vector Machines Classifier

In [12]:
svm_results = train_evaluate_model('SVM', x_train, y_train, x_test, y_test)
results = results.append(svm_results, ignore_index=True)
svm_results

[LibSVM]

  model  accuracy  precision  recall      f1
0   SVM    0.3763     0.3499  0.3763  0.3568

## 8. Train and evaluate Multilayer Perceptron Classifier

In [13]:
mlp_results = train_evaluate_model('MLP', x_train, y_train, x_test, y_test)
results = results.append(mlp_results, ignore_index=True)
mlp_results

Iteration 1, loss = 1.07357797
Iteration 2, loss = 1.03344273
Iteration 3, loss = 1.00372110
Iteration 4, loss = 0.97884543
Iteration 5, loss = 0.95352749
Iteration 6, loss = 0.93481026
Iteration 7, loss = 0.91859182
Iteration 8, loss = 0.90458880
Iteration 9, loss = 0.89249298
Iteration 10, loss = 0.88135028
Iteration 11, loss = 0.87626128
Iteration 12, loss = 0.86359562
Iteration 13, loss = 0.85727672
Iteration 14, loss = 0.85049755
Iteration 15, loss = 0.84176044
Iteration 16, loss = 0.83660931
Iteration 17, loss = 0.82904798
Iteration 18, loss = 0.82105654
Iteration 19, loss = 0.81464651
Iteration 20, loss = 0.80737258
Iteration 21, loss = 0.80366191
Iteration 22, loss = 0.79911730
Iteration 23, loss = 0.79152012
Iteration 24, loss = 0.78192791
Iteration 25, loss = 0.77822910
Iteration 26, loss = 0.77242582
Iteration 27, loss = 0.76419193
Iteration 28, loss = 0.75817664
Iteration 29, loss = 0.75301350
Iteration 30, loss = 0.75140847
Iteration 31, loss = 0.74483144
Iteration 32, loss = 0.73572122
Iteration 33, loss = 0.72964133
Iteration 34, loss = 0.72407626
Iteration 35, loss = 0.71699694
Iteration 36, loss = 0.71451517
Iteration 37, loss = 0.71484474
Iteration 38, loss = 0.70992559
Iteration 39, loss = 0.70439114
Iteration 40, loss = 0.69482290
Iteration 41, loss = 0.68609193
Iteration 42, loss = 0.68211477
Iteration 43, loss = 0.67866483
Iteration 44, loss = 0.67072298
Iteration 45, loss = 0.66453060
Iteration 46, loss = 0.65814936
Iteration 47, loss = 0.65635976
Iteration 48, loss = 0.64849682
Iteration 49, loss = 0.64479782
Iteration 50, loss = 0.64205553
Iteration 51, loss = 0.63360016
Iteration 52, loss = 0.62591040
Iteration 53, loss = 0.62316098
Iteration 54, loss = 0.62718580
Iteration 55, loss = 0.61304171
Iteration 56, loss = 0.61213173
Iteration 57, loss = 0.60302231
Iteration 58, loss = 0.59751348
Iteration 59, loss = 0.59285998
Iteration 60, loss = 0.58666778
Iteration 61, loss = 0.58287262
Iteration 62, loss = 0.58240270
Iteration 63, loss = 0.57445888
Iteration 64, loss = 0.56419754
Iteration 65, loss = 0.56047939
Iteration 66, loss = 0.55611326
Iteration 67, loss = 0.55738410
Iteration 68, loss = 0.55651619
Iteration 69, loss = 0.53952197
Iteration 70, loss = 0.53358091
Iteration 71, loss = 0.52966001
Iteration 72, loss = 0.52378438
Iteration 73, loss = 0.52514766
Iteration 74, loss = 0.52631779
Iteration 75, loss = 0.51720250
Iteration 76, loss = 0.52522920
Iteration 77, loss = 0.53131962
Iteration 78, loss = 0.52116416
Iteration 79, loss = 0.50915547
Iteration 80, loss = 0.49920778
Iteration 81, loss = 0.48607966
Iteration 82, loss = 0.48502116
Iteration 83, loss = 0.51744506
Iteration 84, loss = 0.50297622
Iteration 85, loss = 0.50989142
Iteration 86, loss = 0.51097696
Iteration 87, loss = 0.49420184
Iteration 88, loss = 0.47747828
Iteration 89, loss = 0.48108779
Iteration 90, loss = 0.46066943
Iteration 91, loss = 0.45910491
Iteration 92, loss = 0.46049594
Iteration 93, loss = 0.45190215
Iteration 94, loss = 0.45383654
Iteration 95, loss = 0.44130260
Iteration 96, loss = 0.43771214
Iteration 97, loss = 0.43438480
Iteration 98, loss = 0.43450419
Iteration 99, loss = 0.43057644
Iteration 100, loss = 0.42389473
Iteration 101, loss = 0.44171392
Iteration 102, loss = 0.42995730
Iteration 103, loss = 0.41973955
Iteration 104, loss = 0.41590290
Iteration 105, loss = 0.41122888
Iteration 106, loss = 0.40948349
Iteration 107, loss = 0.40576188
Iteration 108, loss = 0.40144115
Iteration 109, loss = 0.40319245
Iteration 110, loss = 0.40880137
Iteration 111, loss = 0.39976430
Iteration 112, loss = 0.39452954
Iteration 113, loss = 0.39301745
Iteration 114, loss = 0.39444832
Iteration 115, loss = 0.38631193
Iteration 116, loss = 0.37720006
Iteration 117, loss = 0.37674778
Iteration 118, loss = 0.37656188
Iteration 119, loss = 0.37500047
Iteration 120, loss = 0.37962704
Iteration 121, loss = 0.37770674
Iteration 122, loss = 0.37371601
Iteration 123, loss = 0.37065036
Iteration 124, loss = 0.36096963
Iteration 125, loss = 0.36834338
Iteration 126, loss = 0.37392902
Iteration 127, loss = 0.35713389
Iteration 128, loss = 0.35239531
Iteration 129, loss = 0.34875058
Iteration 130, loss = 0.34503194
Iteration 131, loss = 0.34735094
Iteration 132, loss = 0.35222827
Iteration 133, loss = 0.34595592
Iteration 134, loss = 0.34495201
Iteration 135, loss = 0.34735483
Iteration 136, loss = 0.34484170
Iteration 137, loss = 0.35064687
Iteration 138, loss = 0.33895251
Iteration 139, loss = 0.33817761
Iteration 140, loss = 0.34642826
Iteration 141, loss = 0.33011003
Iteration 142, loss = 0.33623319
Iteration 143, loss = 0.32458144
Iteration 144, loss = 0.32334164
Iteration 145, loss = 0.32216366
Iteration 146, loss = 0.32240141
Iteration 147, loss = 0.33675347
Iteration 148, loss = 0.31894181
Iteration 149, loss = 0.32709410
Iteration 150, loss = 0.31951480
Iteration 151, loss = 0.31565938
Iteration 152, loss = 0.30938151
Iteration 153, loss = 0.31336452
Iteration 154, loss = 0.31298673
Iteration 155, loss = 0.31069302
Iteration 156, loss = 0.30602695
Iteration 157, loss = 0.30410298
Iteration 158, loss = 0.30847132
Iteration 159, loss = 0.30674677
Iteration 160, loss = 0.30052144
Iteration 161, loss = 0.29881274
Iteration 162, loss = 0.30396880
Iteration 163, loss = 0.29879033
Iteration 164, loss = 0.29573601
Iteration 165, loss = 0.29417461
Iteration 166, loss = 0.29225224
Iteration 167, loss = 0.28941771
Iteration 168, loss = 0.29804575
Iteration 169, loss = 0.28433365
Iteration 170, loss = 0.28915325
Iteration 171, loss = 0.28558330
Iteration 172, loss = 0.28150397
Iteration 173, loss = 0.29596511
Iteration 174, loss = 0.28472828
Iteration 175, loss = 0.28884563
Iteration 176, loss = 0.29126005
Iteration 177, loss = 0.29589680
Iteration 178, loss = 0.28003604
Iteration 179, loss = 0.27854732
Iteration 180, loss = 0.27433139
Iteration 181, loss = 0.29051499
Iteration 182, loss = 0.28587482
Iteration 183, loss = 0.27135240
Iteration 184, loss = 0.28316840
Iteration 185, loss = 0.29608533
Iteration 186, loss = 0.28576163
Iteration 187, loss = 0.28303094
Iteration 188, loss = 0.27166603
Iteration 189, loss = 0.26849130
Iteration 190, loss = 0.27438011
Iteration 191, loss = 0.26472239
Iteration 192, loss = 0.26394400
Iteration 193, loss = 0.26154887
Iteration 194, loss = 0.25767948
Iteration 195, loss = 0.25839342
Iteration 196, loss = 0.26471495
Iteration 197, loss = 0.25976659
Iteration 198, loss = 0.26083007
Iteration 199, loss = 0.25819715
Iteration 200, loss = 0.25985839
Iteration 201, loss = 0.27096976
Iteration 202, loss = 0.26158078
Iteration 203, loss = 0.25615452
Iteration 204, loss = 0.25540705
Iteration 205, loss = 0.25773812
Iteration 206, loss = 0.27057673
Iteration 207, loss = 0.26727793
Iteration 208, loss = 0.25953379
Iteration 209, loss = 0.25401002
Iteration 210, loss = 0.25541414
Iteration 211, loss = 0.25463707
Iteration 212, loss = 0.25288496
Iteration 213, loss = 0.25149211
Iteration 214, loss = 0.24529223
Iteration 215, loss = 0.25201467
Iteration 216, loss = 0.24494456
Iteration 217, loss = 0.23966178
Iteration 218, loss = 0.24464801
Iteration 219, loss = 0.24634630
Iteration 220, loss = 0.24101912
Iteration 221, loss = 0.24220688
Iteration 222, loss = 0.25608367
Iteration 223, loss = 0.26386924
Iteration 224, loss = 0.26850782
Iteration 225, loss = 0.24828777
Iteration 226, loss = 0.24127540
Iteration 227, loss = 0.24289558
Iteration 228, loss = 0.25187354
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

  model  accuracy  precision  recall      f1
0   MLP    0.5322      0.522  0.5322  0.5241

## 9. Save results file

In [14]:
results.to_csv('RESULTS/models_results_real.csv', index=False)
results

  model  accuracy  precision  recall      f1
0    RF    0.5288     0.5226  0.5288  0.5232
1   KNN    0.5186     0.5240  0.5186  0.5173
2    DT    0.5051     0.5022  0.5051  0.5031
3   SVM    0.3763     0.3499  0.3763  0.3568
4   MLP    0.5322     0.5220  0.5322  0.5241