# TRTR Dataset B - Cardio

In [1]:
#import libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import os
print('Libraries imported!!')

Libraries imported!!

In [2]:
#define directory of functions and actual directory
HOME_PATH = '' #home path of the project
FUNCTIONS_DIR = 'EVALUATION FUNCTIONS/UTILITY'
ACTUAL_DIR = os.getcwd()

#change directory to functions directory
os.chdir(HOME_PATH + FUNCTIONS_DIR)

#import functions for data labelling analisys
from utility_evaluation import DataPreProcessor
from utility_evaluation import train_evaluate_model

#change directory to actual directory
os.chdir(ACTUAL_DIR)
print('Functions imported!!')

Functions imported!!

## 1. Read data

In [3]:
#read real dataset
train_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TRAIN DATASETS/B_Cardio_Data_Real_Train.csv')
categorical_columns = ['gender','cholesterol','gluc','smoke','alco','active','cardio']
for col in categorical_columns :
    train_data[col] = train_data[col].astype('category')
train_data

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,67617,21876,1,154,80.0,130,90,2,1,0,0,1,1
1,96320,16717,2,162,70.0,140,90,1,1,0,0,0,1
2,17571,21128,2,174,92.0,150,100,1,1,0,0,1,1
3,46492,23366,2,173,76.0,120,82,1,1,0,0,1,1
4,945,20281,1,160,60.0,120,80,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55995,53137,16001,2,170,75.0,150,80,1,1,1,0,1,1
55996,8918,23209,2,162,73.0,160,90,1,1,0,0,1,1
55997,78302,23589,1,169,74.0,120,80,1,1,0,0,1,0
55998,1197,18227,1,167,70.0,120,80,1,1,0,0,0,0
55999,22556,15114,2,177,64.0,120,80,1,1,0,0,1,0

In [4]:
#read test data
test_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TEST DATASETS/B_Cardio_Data_Real_Test.csv')
for col in categorical_columns :
    test_data[col] = test_data[col].astype('category')
test_data

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,66728,21770,1,156,64.0,140,80,2,1,0,0,1,1
1,69098,21876,1,170,85.0,160,90,1,1,0,0,1,1
2,59185,23270,1,151,90.0,130,80,1,1,0,0,1,1
3,49288,19741,1,159,97.0,120,80,1,1,0,0,1,1
4,62481,18395,1,164,68.0,120,80,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13995,30751,20490,2,172,70.0,120,80,1,1,0,0,0,1
13996,23253,16797,2,174,96.0,120,80,1,2,0,0,1,1
13997,34847,22607,1,165,66.0,110,80,1,1,0,0,0,0
13998,40118,19670,1,157,89.0,120,80,3,3,0,0,1,1
13999,90598,18320,2,176,83.0,140,90,1,1,1,0,0,1

In [5]:
target = 'cardio'
#quick look at the breakdown of class values
print('Train data')
print(train_data.shape)
print(train_data.groupby(target).size())
print('#####################################')
print('Test data')
print(test_data.shape)
print(test_data.groupby(target).size())

Train data
(56000, 13)
cardio
0    28033
1    27967
dtype: int64
#####################################
Test data
(14000, 13)
cardio
0    6988
1    7012
dtype: int64

## 2. Pre-process training data

In [6]:
target = 'cardio'
categorical_columns = ['gender','cholesterol','gluc','smoke','alco','active']
numerical_columns = numerical_columns = train_data.select_dtypes(include=['int64']).columns.tolist()
categories = [np.array(range(2)), np.array(range(3)), np.array(range(3)), np.array(range(2)), np.array(range(2)), 
            np.array(range(2))]


data_preprocessor = DataPreProcessor(categorical_columns, numerical_columns, categories)
x_train = data_preprocessor.preprocess_train_data(train_data.loc[:, train_data.columns != target])
y_train = train_data.loc[:, target]

x_train.shape, y_train.shape

((56000, 19), (56000,))

## 3. Preprocess test data

In [7]:
x_test = data_preprocessor.preprocess_test_data(test_data.loc[:, test_data.columns != target])
y_test = test_data.loc[:, target]
x_test.shape, y_test.shape

((14000, 19), (14000,))

## 4. Create a dataset to save the results

In [8]:
results = pd.DataFrame(columns = ['model','accuracy','precision','recall','f1'])
results

Empty DataFrame
Columns: [model, accuracy, precision, recall, f1]
Index: []

## 4. Train and evaluate Random Forest Classifier

In [9]:
rf_results = train_evaluate_model('RF', x_train, y_train, x_test, y_test)
results = results.append(rf_results, ignore_index=True)
rf_results

[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    1.6s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    3.5s finished
[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.1s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.2s finished

  model  accuracy  precision  recall      f1
0    RF    0.7139     0.7141  0.7139  0.7138

## 5. Train and Evaluate KNeighbors Classifier

In [10]:
knn_results = train_evaluate_model('KNN', x_train, y_train, x_test, y_test)
results = results.append(knn_results, ignore_index=True)
knn_results

  model  accuracy  precision  recall      f1
0   KNN    0.6504     0.6568  0.6504  0.6469

## 6. Train and evaluate Decision Tree Classifier

In [11]:
dt_results = train_evaluate_model('DT', x_train, y_train, x_test, y_test)
results = results.append(dt_results, ignore_index=True)
dt_results

  model  accuracy  precision  recall      f1
0    DT    0.6343     0.6343  0.6343  0.6343

## 7. Train and evaluate Support Vector Machines Classifier

In [12]:
svm_results = train_evaluate_model('SVM', x_train, y_train, x_test, y_test)
results = results.append(svm_results, ignore_index=True)
svm_results

[LibSVM]

  model  accuracy  precision  recall      f1
0   SVM    0.5006     0.6118  0.5006  0.3373

## 8. Train and evaluate Multilayer Perceptron Classifier

In [13]:
mlp_results = train_evaluate_model('MLP', x_train, y_train, x_test, y_test)
results = results.append(mlp_results, ignore_index=True)
mlp_results

Iteration 1, loss = inf
Iteration 2, loss = inf
Iteration 3, loss = 0.54951042
Iteration 4, loss = 0.54691666
Iteration 5, loss = 0.54630366
Iteration 6, loss = 0.54527458
Iteration 7, loss = 0.54498814
Iteration 8, loss = 0.54388112
Iteration 9, loss = 0.54433403
Iteration 10, loss = 0.54266721
Iteration 11, loss = 0.54157524
Iteration 12, loss = 0.54118756
Iteration 13, loss = 0.54170565
Iteration 14, loss = 0.54031526
Iteration 15, loss = 0.54085046
Iteration 16, loss = 0.54022206
Iteration 17, loss = 0.54023308
Iteration 18, loss = 0.53892197
Iteration 19, loss = 0.53861417
Iteration 20, loss = 0.53825106
Iteration 21, loss = 0.53879218
Iteration 22, loss = 0.53764884
Iteration 23, loss = 0.53753162
Iteration 24, loss = 0.53693925
Iteration 25, loss = 0.53655625
Iteration 26, loss = 0.53695441
Iteration 27, loss = 0.53538187
Iteration 28, loss = 0.53566733
Iteration 29, loss = 0.53524642
Iteration 30, loss = 0.53486497
Iteration 31, loss = 0.53445025
Iteration 32, loss = 0.53437499
Iteration 33, loss = 0.53381048
Iteration 34, loss = 0.53300145
Iteration 35, loss = 0.53314928
Iteration 36, loss = 0.53225224
Iteration 37, loss = 0.53147751
Iteration 38, loss = 0.53180289
Iteration 39, loss = 0.53065187
Iteration 40, loss = 0.53021081
Iteration 41, loss = 0.52977643
Iteration 42, loss = 0.53002165
Iteration 43, loss = 0.52947054
Iteration 44, loss = 0.52896346
Iteration 45, loss = 0.52834025
Iteration 46, loss = 0.52793282
Iteration 47, loss = 0.52783435
Iteration 48, loss = 0.52712865
Iteration 49, loss = 0.52591949
Iteration 50, loss = 0.52619638
Iteration 51, loss = 0.52568128
Iteration 52, loss = 0.52500713
Iteration 53, loss = 0.52468435
Iteration 54, loss = 0.52434192
Iteration 55, loss = 0.52381261
Iteration 56, loss = 0.52338972
Iteration 57, loss = 0.52256567
Iteration 58, loss = 0.52274988
Iteration 59, loss = 0.52215163
Iteration 60, loss = 0.52173032
Iteration 61, loss = 0.52200096
Iteration 62, loss = 0.52091062
Iteration 63, loss = 0.52063540
Iteration 64, loss = 0.51982122
Iteration 65, loss = 0.51896866
Iteration 66, loss = 0.51869552
Iteration 67, loss = 0.51871026
Iteration 68, loss = 0.51821970
Iteration 69, loss = 0.51763551
Iteration 70, loss = 0.51675902
Iteration 71, loss = 0.51636838
Iteration 72, loss = 0.51558014
Iteration 73, loss = 0.51517776
Iteration 74, loss = 0.51494164
Iteration 75, loss = 0.51494969
Iteration 76, loss = 0.51432029
Iteration 77, loss = 0.51373182
Iteration 78, loss = 0.51353511
Iteration 79, loss = 0.51281169
Iteration 80, loss = 0.51153975
Iteration 81, loss = 0.51181405
Iteration 82, loss = 0.51118594
Iteration 83, loss = 0.51058047
Iteration 84, loss = 0.50990140
Iteration 85, loss = 0.50970508
Iteration 86, loss = 0.50927443
Iteration 87, loss = 0.50917362
Iteration 88, loss = 0.50840828
Iteration 89, loss = 0.50786428
Iteration 90, loss = 0.50791531
Iteration 91, loss = 0.50757621
Iteration 92, loss = 0.50577086
Iteration 93, loss = 0.50682076
Iteration 94, loss = 0.50571394
Iteration 95, loss = 0.50485918
Iteration 96, loss = 0.50454284
Iteration 97, loss = 0.50392504
Iteration 98, loss = 0.50379559
Iteration 99, loss = 0.50306986
Iteration 100, loss = 0.50213864
Iteration 101, loss = 0.50234208
Iteration 102, loss = 0.50113596
Iteration 103, loss = 0.50140077
Iteration 104, loss = 0.50019663
Iteration 105, loss = 0.50080357
Iteration 106, loss = 0.49928272
Iteration 107, loss = 0.49881301
Iteration 108, loss = 0.49947188
Iteration 109, loss = inf
Iteration 110, loss = 0.49722157
Iteration 111, loss = 0.49765909
Iteration 112, loss = 0.49696728
Iteration 113, loss = 0.49556837
Iteration 114, loss = 0.49556254
Iteration 115, loss = 0.49576813
Iteration 116, loss = 0.49498163
Iteration 117, loss = 0.49440173
Iteration 118, loss = 0.49411078
Iteration 119, loss = 0.49348749
Iteration 120, loss = 0.49426841
Iteration 121, loss = 0.49332814
Iteration 122, loss = 0.49307865
Iteration 123, loss = 0.49249640
Iteration 124, loss = inf
Iteration 125, loss = 0.49218859
Iteration 126, loss = 0.49118821
Iteration 127, loss = 0.49051039
Iteration 128, loss = 0.49110899
Iteration 129, loss = inf
Iteration 130, loss = 0.49045641
Iteration 131, loss = 0.48946175
Iteration 132, loss = 0.48833740
Iteration 133, loss = 0.48835941
Iteration 134, loss = 0.48788515
Iteration 135, loss = 0.48759388
Iteration 136, loss = 0.48827104
Iteration 137, loss = 0.48817081
Iteration 138, loss = inf
Iteration 139, loss = 0.48708285
Iteration 140, loss = 0.48541732
Iteration 141, loss = 0.48495569
Iteration 142, loss = 0.48552996
Iteration 143, loss = 0.48446501
Iteration 144, loss = 0.48425338
Iteration 145, loss = 0.48512828
Iteration 146, loss = 0.48391637
Iteration 147, loss = 0.48327518
Iteration 148, loss = 0.48223344
Iteration 149, loss = 0.48263936
Iteration 150, loss = 0.48122417
Iteration 151, loss = 0.48206192
Iteration 152, loss = 0.48123047
Iteration 153, loss = 0.48087380
Iteration 154, loss = 0.48040604
Iteration 155, loss = 0.47949808
Iteration 156, loss = 0.48035164
Iteration 157, loss = 0.48020520
Iteration 158, loss = 0.48136772
Iteration 159, loss = 0.47857988
Iteration 160, loss = 0.47892922
Iteration 161, loss = 0.47830479
Iteration 162, loss = 0.47777275
Iteration 163, loss = 0.47689688
Iteration 164, loss = 0.47688859
Iteration 165, loss = 0.47657311
Iteration 166, loss = 0.47595626
Iteration 167, loss = 0.47556953
Iteration 168, loss = 0.47588094
Iteration 169, loss = 0.47559916
Iteration 170, loss = 0.47601732
Iteration 171, loss = 0.47421007
Iteration 172, loss = 0.47461758
Iteration 173, loss = 0.47408235
Iteration 174, loss = 0.47353925
Iteration 175, loss = 0.47364102
Iteration 176, loss = 0.47283633
Iteration 177, loss = 0.47387245
Iteration 178, loss = 0.47244108
Iteration 179, loss = 0.47324100
Iteration 180, loss = 0.47160611
Iteration 181, loss = 0.47190020
Iteration 182, loss = 0.47297743
Iteration 183, loss = 0.47002317
Iteration 184, loss = 0.47045304
Iteration 185, loss = 0.47118474
Iteration 186, loss = 0.46991855
Iteration 187, loss = 0.46959303
Iteration 188, loss = 0.46961285
Iteration 189, loss = 0.46868146
Iteration 190, loss = 0.46885305
Iteration 191, loss = 0.46866926
Iteration 192, loss = 0.46762925
Iteration 193, loss = 0.46746983
Iteration 194, loss = 0.46787885
Iteration 195, loss = 0.46872135
Iteration 196, loss = 0.46691438
Iteration 197, loss = 0.46667153
Iteration 198, loss = 0.46741561
Iteration 199, loss = 0.46633837
Iteration 200, loss = 0.46621310
Iteration 201, loss = 0.46674469
Iteration 202, loss = 0.46641082
Iteration 203, loss = 0.46559791
Iteration 204, loss = 0.46485136
Iteration 205, loss = 0.46560243
Iteration 206, loss = 0.46415240
Iteration 207, loss = 0.46501977
Iteration 208, loss = inf
Iteration 209, loss = 0.46515625
Iteration 210, loss = 0.46532658
Iteration 211, loss = 0.46499974
Iteration 212, loss = 0.46531649
Iteration 213, loss = 0.46405239
Iteration 214, loss = 0.46248708
Iteration 215, loss = 0.46299806
Iteration 216, loss = 0.46259866
Iteration 217, loss = 0.46235035
Iteration 218, loss = 0.46148308
Iteration 219, loss = 0.46226113
Iteration 220, loss = inf
Iteration 221, loss = 0.46190761
Iteration 222, loss = inf
Iteration 223, loss = inf
Iteration 224, loss = 0.46274987
Iteration 225, loss = 0.46095373
Iteration 226, loss = 0.45881491
Iteration 227, loss = inf
Iteration 228, loss = 0.46021131
Iteration 229, loss = 0.46045630
Iteration 230, loss = 0.46095884
Iteration 231, loss = 0.46015848
Iteration 232, loss = 0.45900449
Iteration 233, loss = 0.45844401
Iteration 234, loss = inf
Iteration 235, loss = 0.45724053
Iteration 236, loss = 0.45775250
Iteration 237, loss = 0.45654304
Iteration 238, loss = 0.45767373
Iteration 239, loss = 0.45704946
Iteration 240, loss = 0.45560673
Iteration 241, loss = 0.45569647
Iteration 242, loss = 0.45561890
Iteration 243, loss = 0.45582411
Iteration 244, loss = 0.45586228
Iteration 245, loss = 0.45523641
Iteration 246, loss = 0.45531055
Iteration 247, loss = 0.45555089
Iteration 248, loss = 0.45615192
Iteration 249, loss = 0.45666229
Iteration 250, loss = 0.45462927
Iteration 251, loss = inf
Iteration 252, loss = 0.45376714
Iteration 253, loss = 0.45372551
Iteration 254, loss = 0.45388997
Iteration 255, loss = 0.45277754
Iteration 256, loss = 0.45422247
Iteration 257, loss = 0.45291108
Iteration 258, loss = 0.45157557
Iteration 259, loss = 0.45184580
Iteration 260, loss = 0.45283443
Iteration 261, loss = 0.45229411
Iteration 262, loss = 0.45219451
Iteration 263, loss = 0.45172128
Iteration 264, loss = 0.45128517
Iteration 265, loss = 0.45032712
Iteration 266, loss = 0.45160933
Iteration 267, loss = 0.45011150
Iteration 268, loss = 0.45089274
Iteration 269, loss = 0.45084411
Iteration 270, loss = 0.44978177
Iteration 271, loss = 0.44913017
Iteration 272, loss = 0.44974921
Iteration 273, loss = 0.44832500
Iteration 274, loss = 0.44870205
Iteration 275, loss = inf
Iteration 276, loss = 0.44973440
Iteration 277, loss = 0.44835574
Iteration 278, loss = 0.44770747
Iteration 279, loss = 0.44849392
Iteration 280, loss = 0.44932048
Iteration 281, loss = 0.44846856
Iteration 282, loss = 0.44730814
Iteration 283, loss = 0.44676729
Iteration 284, loss = 0.44854871
Iteration 285, loss = inf
Iteration 286, loss = 0.44760049
Iteration 287, loss = 0.44685418
Iteration 288, loss = 0.44627394
Iteration 289, loss = 0.44623140
Iteration 290, loss = 0.44537846
Iteration 291, loss = 0.44668693
Iteration 292, loss = 0.44508576
Iteration 293, loss = 0.44522621
Iteration 294, loss = 0.44453424
Iteration 295, loss = inf
Iteration 296, loss = 0.44602392
Iteration 297, loss = 0.44565435
Iteration 298, loss = 0.44451577
Iteration 299, loss = 0.44443492
Iteration 300, loss = 0.44451233

  model  accuracy  precision  recall     f1
0   MLP    0.7036     0.7054  0.7036  0.703

## 9. Save results file

In [14]:
results.to_csv('RESULTS/models_results_real.csv', index=False)
results

  model  accuracy  precision  recall      f1
0    RF    0.7139     0.7141  0.7139  0.7138
1   KNN    0.6504     0.6568  0.6504  0.6469
2    DT    0.6343     0.6343  0.6343  0.6343
3   SVM    0.5006     0.6118  0.5006  0.3373
4   MLP    0.7036     0.7054  0.7036  0.7030