# TSTR SDV Dataset B - Cardio

In [1]:
#import libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import os
print('Libraries imported!!')

Libraries imported!!

In [2]:
#define directory of functions and actual directory
HOME_PATH = '' #home path of the project
FUNCTIONS_DIR = 'EVALUATION FUNCTIONS/UTILITY'
ACTUAL_DIR = os.getcwd()

#change directory to functions directory
os.chdir(HOME_PATH + FUNCTIONS_DIR)

#import functions for data labelling analisys
from utility_evaluation import DataPreProcessor
from utility_evaluation import train_evaluate_model

#change directory to actual directory
os.chdir(ACTUAL_DIR)
print('Functions imported!!')

Functions imported!!

## 1. Read data

In [3]:
#read real dataset
train_data = pd.read_csv(HOME_PATH + 'SYNTHETIC DATASETS/SDV/B_Cardio_Data_Synthetic_SDV.csv')
categorical_columns = ['gender','cholesterol','gluc','smoke','alco','active','cardio']
for col in categorical_columns :
    train_data[col] = train_data[col].astype('category')
train_data

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,24346,15207,1,159,106.0,226,58,1,1,0,0,1,1
1,26676,17505,1,162,55.3,70,241,1,1,0,0,1,1
2,49760,20801,1,166,61.4,195,-9,1,1,0,0,1,1
3,14459,16731,1,150,55.8,1,51,1,1,0,0,1,1
4,52249,19696,1,154,69.1,-75,71,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55995,78730,17842,2,177,52.6,260,233,2,1,0,0,0,1
55996,41123,18471,1,171,110.0,94,273,1,1,0,0,1,1
55997,68825,18308,1,168,48.4,25,423,1,1,0,0,1,0
55998,45094,17022,1,161,87.5,-7,202,2,1,0,0,1,1
55999,89629,18680,1,167,70.0,218,-202,1,1,0,0,0,1

In [4]:
#read test data
test_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TEST DATASETS/B_Cardio_Data_Real_Test.csv')
for col in categorical_columns :
    test_data[col] = test_data[col].astype('category')
test_data

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,66728,21770,1,156,64.0,140,80,2,1,0,0,1,1
1,69098,21876,1,170,85.0,160,90,1,1,0,0,1,1
2,59185,23270,1,151,90.0,130,80,1,1,0,0,1,1
3,49288,19741,1,159,97.0,120,80,1,1,0,0,1,1
4,62481,18395,1,164,68.0,120,80,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13995,30751,20490,2,172,70.0,120,80,1,1,0,0,0,1
13996,23253,16797,2,174,96.0,120,80,1,2,0,0,1,1
13997,34847,22607,1,165,66.0,110,80,1,1,0,0,0,0
13998,40118,19670,1,157,89.0,120,80,3,3,0,0,1,1
13999,90598,18320,2,176,83.0,140,90,1,1,1,0,0,1

In [5]:
target = 'cardio'
#quick look at the breakdown of class values
print('Train data')
print(train_data.shape)
print(train_data.groupby(target).size())
print('#####################################')
print('Test data')
print(test_data.shape)
print(test_data.groupby(target).size())

Train data
(56000, 13)
cardio
0    10888
1    45112
dtype: int64
#####################################
Test data
(14000, 13)
cardio
0    6988
1    7012
dtype: int64

## 2. Pre-process training data

In [6]:
target = 'cardio'
categorical_columns = ['gender','cholesterol','gluc','smoke','alco','active']
numerical_columns = numerical_columns = train_data.select_dtypes(include=['int64']).columns.tolist()
categories = [np.array(range(2)), np.array(range(3)), np.array(range(3)), np.array(range(2)), np.array(range(2)), 
            np.array(range(2))]


data_preprocessor = DataPreProcessor(categorical_columns, numerical_columns, categories)
x_train = data_preprocessor.preprocess_train_data(train_data.loc[:, train_data.columns != target])
y_train = train_data.loc[:, target]

x_train.shape, y_train.shape

((56000, 19), (56000,))

## 3. Preprocess test data

In [7]:
x_test = data_preprocessor.preprocess_test_data(test_data.loc[:, test_data.columns != target])
y_test = test_data.loc[:, target]
x_test.shape, y_test.shape

((14000, 19), (14000,))

## 4. Create a dataset to save the results

In [8]:
results = pd.DataFrame(columns = ['model','accuracy','precision','recall','f1'])
results

Empty DataFrame
Columns: [model, accuracy, precision, recall, f1]
Index: []

## 4. Train and evaluate Random Forest Classifier

In [9]:
rf_results = train_evaluate_model('RF', x_train, y_train, x_test, y_test)
results = results.append(rf_results, ignore_index=True)
rf_results

[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    7.1s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:   16.3s finished
[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.2s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.5s finished

  model  accuracy  precision  recall      f1
0    RF     0.502     0.6255   0.502  0.3378

## 5. Train and Evaluate KNeighbors Classifier

In [10]:
knn_results = train_evaluate_model('KNN', x_train, y_train, x_test, y_test)
results = results.append(knn_results, ignore_index=True)
knn_results

  model  accuracy  precision  recall      f1
0   KNN    0.5121     0.5855  0.5121  0.3766

## 6. Train and evaluate Decision Tree Classifier

In [11]:
dt_results = train_evaluate_model('DT', x_train, y_train, x_test, y_test)
results = results.append(dt_results, ignore_index=True)
dt_results

  model  accuracy  precision  recall      f1
0    DT    0.5017     0.5017  0.5017  0.4697

## 7. Train and evaluate Support Vector Machines Classifier

In [12]:
svm_results = train_evaluate_model('SVM', x_train, y_train, x_test, y_test)
results = results.append(svm_results, ignore_index=True)
svm_results

[LibSVM]

  model  accuracy  precision  recall     f1
0   SVM    0.4532     0.4505  0.4532  0.446

## 8. Train and evaluate Multilayer Perceptron Classifier

In [13]:
mlp_results = train_evaluate_model('MLP', x_train, y_train, x_test, y_test)
results = results.append(mlp_results, ignore_index=True)
mlp_results

Iteration 1, loss = 0.46936531
Iteration 2, loss = 0.46368409
Iteration 3, loss = 0.46342770
Iteration 4, loss = 0.46320132
Iteration 5, loss = 0.46295659
Iteration 6, loss = 0.46263661
Iteration 7, loss = 0.46259641
Iteration 8, loss = 0.46249264
Iteration 9, loss = 0.46198147
Iteration 10, loss = 0.46193969
Iteration 11, loss = 0.46162046
Iteration 12, loss = 0.46138056
Iteration 13, loss = 0.46102558
Iteration 14, loss = 0.46080397
Iteration 15, loss = 0.46059040
Iteration 16, loss = 0.46010154
Iteration 17, loss = 0.45927901
Iteration 18, loss = 0.45903261
Iteration 19, loss = 0.45869956
Iteration 20, loss = 0.45816088
Iteration 21, loss = 0.45764707
Iteration 22, loss = 0.45666030
Iteration 23, loss = 0.45659796
Iteration 24, loss = 0.45567083
Iteration 25, loss = 0.45494191
Iteration 26, loss = 0.45468110
Iteration 27, loss = 0.45354407
Iteration 28, loss = 0.45325679
Iteration 29, loss = 0.45250236
Iteration 30, loss = 0.45155212
Iteration 31, loss = 0.45101999
Iteration 32, loss = 0.45080685
Iteration 33, loss = 0.44952552
Iteration 34, loss = 0.44866321
Iteration 35, loss = 0.44773051
Iteration 36, loss = 0.44713705
Iteration 37, loss = 0.44660969
Iteration 38, loss = 0.44555518
Iteration 39, loss = 0.44471882
Iteration 40, loss = 0.44395489
Iteration 41, loss = 0.44334407
Iteration 42, loss = 0.44236825
Iteration 43, loss = 0.44121845
Iteration 44, loss = 0.44037321
Iteration 45, loss = 0.43999206
Iteration 46, loss = 0.43902832
Iteration 47, loss = 0.43782777
Iteration 48, loss = 0.43705886
Iteration 49, loss = 0.43628507
Iteration 50, loss = 0.43559046
Iteration 51, loss = 0.43422726
Iteration 52, loss = 0.43429915
Iteration 53, loss = 0.43342711
Iteration 54, loss = 0.43234499
Iteration 55, loss = 0.43128528
Iteration 56, loss = 0.43059651
Iteration 57, loss = 0.43034200
Iteration 58, loss = 0.42995262
Iteration 59, loss = 0.42838250
Iteration 60, loss = 0.42795841
Iteration 61, loss = 0.42709526
Iteration 62, loss = 0.42598474
Iteration 63, loss = 0.42517613
Iteration 64, loss = 0.42476363
Iteration 65, loss = 0.42432487
Iteration 66, loss = 0.42318151
Iteration 67, loss = 0.42247527
Iteration 68, loss = 0.42159699
Iteration 69, loss = 0.42057051
Iteration 70, loss = 0.42067954
Iteration 71, loss = 0.41924825
Iteration 72, loss = 0.41889204
Iteration 73, loss = 0.41802150
Iteration 74, loss = 0.41863160
Iteration 75, loss = 0.41732003
Iteration 76, loss = 0.41647124
Iteration 77, loss = 0.41591405
Iteration 78, loss = 0.41479682
Iteration 79, loss = 0.41382533
Iteration 80, loss = 0.41391948
Iteration 81, loss = 0.41352355
Iteration 82, loss = 0.41315897
Iteration 83, loss = 0.41215423
Iteration 84, loss = 0.41050713
Iteration 85, loss = 0.41044850
Iteration 86, loss = 0.41021579
Iteration 87, loss = 0.40990867
Iteration 88, loss = 0.40975665
Iteration 89, loss = 0.40872094
Iteration 90, loss = 0.40666936
Iteration 91, loss = 0.40770956
Iteration 92, loss = 0.40651081
Iteration 93, loss = 0.40628455
Iteration 94, loss = 0.40519700
Iteration 95, loss = 0.40462957
Iteration 96, loss = 0.40391318
Iteration 97, loss = 0.40362767
Iteration 98, loss = 0.40256370
Iteration 99, loss = 0.40217629
Iteration 100, loss = 0.40210281
Iteration 101, loss = 0.40099055
Iteration 102, loss = 0.40011526
Iteration 103, loss = 0.40093860
Iteration 104, loss = 0.40018865
Iteration 105, loss = 0.39904646
Iteration 106, loss = 0.39903006
Iteration 107, loss = 0.39839373
Iteration 108, loss = 0.39854047
Iteration 109, loss = 0.39725329
Iteration 110, loss = 0.39634299
Iteration 111, loss = 0.39581370
Iteration 112, loss = 0.39570261
Iteration 113, loss = 0.39518652
Iteration 114, loss = 0.39412270
Iteration 115, loss = 0.39415680
Iteration 116, loss = 0.39466120
Iteration 117, loss = 0.39288566
Iteration 118, loss = 0.39298515
Iteration 119, loss = 0.39156001
Iteration 120, loss = 0.39199022
Iteration 121, loss = 0.39187476
Iteration 122, loss = 0.39180586
Iteration 123, loss = 0.39058410
Iteration 124, loss = 0.39049106
Iteration 125, loss = 0.38952132
Iteration 126, loss = 0.38810090
Iteration 127, loss = 0.38747972
Iteration 128, loss = 0.38847613
Iteration 129, loss = 0.38792861
Iteration 130, loss = 0.38696375
Iteration 131, loss = 0.38587702
Iteration 132, loss = 0.38684092
Iteration 133, loss = 0.38505044
Iteration 134, loss = 0.38557990
Iteration 135, loss = 0.38405425
Iteration 136, loss = 0.38422686
Iteration 137, loss = 0.38334132
Iteration 138, loss = 0.38351801
Iteration 139, loss = 0.38388352
Iteration 140, loss = 0.38251784
Iteration 141, loss = 0.38274257
Iteration 142, loss = 0.38215490
Iteration 143, loss = 0.38116352
Iteration 144, loss = 0.38196158
Iteration 145, loss = 0.38025501
Iteration 146, loss = 0.38015530
Iteration 147, loss = 0.37970052
Iteration 148, loss = 0.37980443
Iteration 149, loss = 0.37831089
Iteration 150, loss = 0.37844708
Iteration 151, loss = 0.37807631
Iteration 152, loss = 0.37776124
Iteration 153, loss = 0.37750812
Iteration 154, loss = 0.37758451
Iteration 155, loss = 0.37860094
Iteration 156, loss = 0.37710245
Iteration 157, loss = 0.37656681
Iteration 158, loss = 0.37549671
Iteration 159, loss = 0.37467203
Iteration 160, loss = 0.37475432
Iteration 161, loss = 0.37379923
Iteration 162, loss = 0.37500523
Iteration 163, loss = 0.37458317
Iteration 164, loss = 0.37175784
Iteration 165, loss = 0.37403544
Iteration 166, loss = 0.37318614
Iteration 167, loss = 0.37305645
Iteration 168, loss = 0.37201855
Iteration 169, loss = 0.37272209
Iteration 170, loss = 0.37217923
Iteration 171, loss = 0.37125235
Iteration 172, loss = 0.37028062
Iteration 173, loss = 0.36924321
Iteration 174, loss = 0.36950949
Iteration 175, loss = 0.36950161
Iteration 176, loss = 0.36926982
Iteration 177, loss = 0.36806912
Iteration 178, loss = 0.36956801
Iteration 179, loss = 0.36817141
Iteration 180, loss = 0.36742750
Iteration 181, loss = 0.36796395
Iteration 182, loss = 0.36689921
Iteration 183, loss = 0.36768117
Iteration 184, loss = 0.36789896
Iteration 185, loss = 0.36622180
Iteration 186, loss = 0.36606573
Iteration 187, loss = 0.36642835
Iteration 188, loss = 0.36348255
Iteration 189, loss = 0.36482765
Iteration 190, loss = 0.36416699
Iteration 191, loss = 0.36489245
Iteration 192, loss = 0.36461075
Iteration 193, loss = 0.36509415
Iteration 194, loss = 0.36385688
Iteration 195, loss = 0.36244914
Iteration 196, loss = 0.36366906
Iteration 197, loss = 0.36264460
Iteration 198, loss = 0.36264121
Iteration 199, loss = 0.36240169
Iteration 200, loss = 0.36271837
Iteration 201, loss = 0.36372551
Iteration 202, loss = 0.36268399
Iteration 203, loss = 0.36080929
Iteration 204, loss = 0.35984328
Iteration 205, loss = 0.36001333
Iteration 206, loss = 0.36036654
Iteration 207, loss = 0.35877682
Iteration 208, loss = 0.35875392
Iteration 209, loss = 0.35964055
Iteration 210, loss = 0.36005959
Iteration 211, loss = 0.35854415
Iteration 212, loss = 0.35895788
Iteration 213, loss = 0.35692457
Iteration 214, loss = 0.35779338
Iteration 215, loss = 0.35736089
Iteration 216, loss = 0.35742125
Iteration 217, loss = 0.35770718
Iteration 218, loss = 0.35873924
Iteration 219, loss = 0.35570383
Iteration 220, loss = 0.35552209
Iteration 221, loss = 0.35644760
Iteration 222, loss = 0.35629604
Iteration 223, loss = 0.35619577
Iteration 224, loss = 0.35589581
Iteration 225, loss = 0.35500832
Iteration 226, loss = 0.35435706
Iteration 227, loss = 0.35446851
Iteration 228, loss = 0.35494424
Iteration 229, loss = 0.35509386
Iteration 230, loss = 0.35355969
Iteration 231, loss = 0.35390539
Iteration 232, loss = 0.35385480
Iteration 233, loss = 0.35247265
Iteration 234, loss = 0.35362000
Iteration 235, loss = 0.35370046
Iteration 236, loss = 0.35302551
Iteration 237, loss = 0.35253261
Iteration 238, loss = 0.35224393
Iteration 239, loss = 0.35161982
Iteration 240, loss = 0.35102837
Iteration 241, loss = 0.35079477
Iteration 242, loss = 0.35233282
Iteration 243, loss = 0.35220700
Iteration 244, loss = 0.35133236
Iteration 245, loss = 0.34919198
Iteration 246, loss = 0.35162279
Iteration 247, loss = 0.34948443
Iteration 248, loss = 0.34767978
Iteration 249, loss = 0.34892960
Iteration 250, loss = 0.34940495
Iteration 251, loss = 0.35015514
Iteration 252, loss = 0.34961224
Iteration 253, loss = 0.34774643
Iteration 254, loss = 0.34915822
Iteration 255, loss = 0.34849736
Iteration 256, loss = 0.34914641
Iteration 257, loss = 0.34760370
Iteration 258, loss = 0.34871374
Iteration 259, loss = 0.34831432
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

  model  accuracy  precision  recall     f1
0   MLP    0.5082     0.5273  0.5082  0.399

## 9. Save results file

In [14]:
results.to_csv('RESULTS/models_results_sdv.csv', index=False)
results

  model  accuracy  precision  recall      f1
0    RF    0.5020     0.6255  0.5020  0.3378
1   KNN    0.5121     0.5855  0.5121  0.3766
2    DT    0.5017     0.5017  0.5017  0.4697
3   SVM    0.4532     0.4505  0.4532  0.4460
4   MLP    0.5082     0.5273  0.5082  0.3990